@charset "UTF-8";
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-loading .slick-list {
    background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  .slick-slide img {
    display: block;
    max-width: 100%; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  height: 50px;
  background: none; }
  .slick-prev:focus, .slick-next:focus {
    outline: none; }
  .slick-prev.slick-disabled, .slick-next.slick-disabled {
    opacity: 0.2;
    cursor: default; }
  .slick-prev:before, .slick-next:before {
    height: 50px;
    line-height: 50px; }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    content: "←";
    display: inline-block;
    vertical-align: middle;
    font-size: 61px;
    color: white; }

.slick-next {
  right: 0; }
  .slick-next:before {
    content: "→";
    display: inline-block;
    vertical-align: middle;
    font-size: 61px;
    color: white; }

.slick-dots {
  text-align: center;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    padding: 0 3px; }
    .slick-dots li.slick-active button {
      opacity: 0.3;
      box-shadow: none; }
    .slick-dots li:before {
      display: none; }
  .slick-dots button {
    display: block;
    width: 6px;
    height: 6px;
    background: white;
    cursor: pointer;
    border-radius: 50%; }
    .slick-dots button:hover {
      box-shadow: none; }

.fs35 {
  font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
  font-size: 35px;
  line-height: 34px;
  display: block; }

.fs50 {
  font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
  font-size: 50px;
  line-height: 1;
  display: block; }

.fs46 {
  font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
  font-size: 46px;
  line-height: 1;
  display: block; }

.button-transparent {
  text-align: center;
  color: #01cfb2;
  border: 1px solid #01cfb2;
  font-size: 13px;
  background: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  padding: 7px 22px 5px;
  position: relative;
  -webkit-transition: background 0.25s ease, color 0.25s ease;
  -moz-transition: background 0.25s ease, color 0.25s ease;
  -ms-transition: background 0.25s ease, color 0.25s ease;
  -o-transition: background 0.25s ease, color 0.25s ease;
  transition: background 0.25s ease, color 0.25s ease; }
  @media only screen and (max-width: 991px) {
    .button-transparent {
      font-size: 15px;
      padding: 9px 25px 7px; } }
  .button-transparent:hover {
    background: #01cfb2;
    color: #fff; }
  .button-transparent:active {
    top: 1px; }
  .button-transparent_dark {
    color: #001936;
    border-color: #001936; }
    .button-transparent_dark:hover {
      background: #001936; }

.orb {
  background: #0c283f;
  padding: 3% 15px 320px;
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .orb {
      padding: 34px 15px 200px; } }
  @media only screen and (max-width: 767px) {
    .orb {
      padding: 45px 15px 100px; } }
  .orb__top {
    min-height: 100vh;
    padding: 0 30px; }
    @media only screen and (max-width: 1240px) {
      .orb__top {
        padding: 0; } }
  .orb__inner {
    max-width: 1194px;
    margin: 0 auto; }
    @media only screen and (max-width: 991px) {
      .orb__inner {
        max-width: 670px; } }
    @media only screen and (max-width: 991px) {
      .orb__inner {
        max-width: 460px; } }
  .orb__img {
    display: inline-block;
    position: relative;
    width: 50%; }
    @media only screen and (max-width: 991px) {
      .orb__img {
        width: 100%;
        max-width: 410px; } }
    .orb__img img {
      max-width: 100%; }
  .orb__img-text {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 13vw;
    font-size: 1vw;
    color: #f5f6f8;
    line-height: 1.2;
    font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
    text-align: left;
    margin: 15px 0 0 15px;
    opacity: 0.9; }
    @media only screen and (max-width: 1240px) {
      .orb__img-text {
        font-size: 13.77px; } }
    @media only screen and (max-width: 991px) {
      .orb__img-text {
        display: none; } }
    .orb__img-text span {
      display: block; }
  .orb__info {
    width: 92%;
    margin: -115px auto 0;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 1240px) {
      .orb__info {
        margin: 5px 5px 0; } }
    @media only screen and (max-width: 991px) {
      .orb__info {
        margin: 45px 15px 0; } }
    .orb__info .fs35 {
      margin-bottom: 10px; }
      @media only screen and (max-width: 991px) {
        .orb__info .fs35 {
          font-size: 30px;
          max-width: 400px; } }
    .orb__info p {
      font-size: 15px;
      font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
      line-height: 1.3;
      margin-bottom: 15px; }
  .orb__info-in {
    max-width: 470px;
    text-align: left; }
  .orb .fs35, .orb p {
    color: #F0EBE7; }
  .orb__services {
    font-size: 0;
    margin: 232px 0 0; }
    @media only screen and (max-width: 767px) {
      .orb__services {
        display: none; } }
    @media only screen and (max-width: 991px) {
      .orb__services {
        margin: 145px 0 0; } }
    .orb__services ul {
      margin: 0;
      padding: 0; }
      @media only screen and (max-width: 991px) {
        .orb__services ul {
          max-width: 590px;
          margin: 0 auto; } }
    .orb__services .fs35 {
      max-width: 640px;
      margin: 0 auto 30px; }
      @media only screen and (max-width: 991px) {
        .orb__services .fs35 {
          font-size: 30px;
          max-width: 550px; } }

.o-service {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 30px 40px; }
  @media only screen and (max-width: 1240px) {
    .o-service {
      width: 25%;
      padding: 30px 10px; } }
  @media only screen and (max-width: 991px) {
    .o-service {
      width: 50%;
      padding: 30px 10px; } }
  .o-service.is-blank {
    max-width: 280px; }
    @media only screen and (max-width: 1240px) {
      .o-service.is-blank {
        max-width: 230px; } }
  .o-service.is-phone {
    max-width: 270px; }
    @media only screen and (max-width: 1240px) {
      .o-service.is-phone {
        max-width: 200px; } }
  .o-service.is-hands {
    max-width: 300px; }
    @media only screen and (max-width: 1240px) {
      .o-service.is-hands {
        max-width: 250px; } }
  .o-service.is-settings {
    max-width: 300px; }
    @media only screen and (max-width: 1240px) {
      .o-service.is-settings {
        max-width: 240px; } }
  .o-service__title, .o-service p {
    color: #F0EBE7;
    line-height: 1.2; }
  .o-service__title {
    display: block;
    font-size: 20px;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    margin-bottom: 16px; }
  .o-service p {
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
    font-size: 15px;
    margin: 0; }
  .o-service__icon {
    width: 145px;
    height: 145px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin: 0 auto 34px;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
    .o-service__icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .o-service__icon.is-blank {
      background-image: url(../images/is-blank.png); }
      .o-service__icon.is-blank img {
        width: 28px; }
    .o-service__icon.is-phone {
      background-image: url(../images/is-phone.png); }
      .o-service__icon.is-phone img {
        width: 22px; }
    .o-service__icon.is-hands {
      background-image: url(../images/is-hands.png); }
      .o-service__icon.is-hands img {
        width: 38px; }
    .o-service__icon.is-settings {
      background-image: url(../images/is-settings.png); }
      .o-service__icon.is-settings img {
        width: 36px; }

.i-section {
  position: relative;
  padding: 0 15px; }
  .i-section.is-visible .i-section__inner {
    top: 0;
    opacity: 1;
    visibility: visible; }
  .i-section.is-reports {
    min-height: 100vh;
    height: 830px; }
    @media only screen and (max-width: 991px) {
      .i-section.is-reports {
        min-height: 620px; } }
    @media only screen and (max-width: 767px) {
      .i-section.is-reports {
        min-height: 850px; } }
    .i-section.is-reports.is-visible img {
      bottom: 0;
      opacity: 1;
      visibility: visible; }
    .i-section.is-reports img {
      position: absolute;
      bottom: -20%;
      right: 0;
      height: 115%;
      opacity: 0;
      visibility: hidden;
      transition: all 1s; }
      @media only screen and (max-width: 1240px) {
        .i-section.is-reports img {
          height: 100%; } }
      @media only screen and (max-width: 991px) {
        .i-section.is-reports img {
          height: 60%; } }
  .i-section.is-phone {
    min-height: 100vh;
    height: 830px; }
    @media only screen and (max-width: 991px) {
      .i-section.is-phone {
        min-height: 700px; } }
    @media only screen and (max-width: 767px) {
      .i-section.is-phone {
        min-height: 890px; } }
    .i-section.is-phone.is-visible img {
      right: 55px;
      opacity: 1;
      visibility: visible; }
    .i-section.is-phone img {
      position: absolute;
      top: 128px;
      width: 53%;
      right: -100px;
      opacity: 0;
      visibility: hidden;
      transition: all 1s; }
      @media only screen and (max-width: 991px) {
        .i-section.is-phone img {
          width: 560px;
          right: 9px;
          top: auto;
          bottom: 60px; } }
      @media only screen and (max-width: 767px) {
        .i-section.is-phone img {
          width: 547px;
          bottom: 40px;
          right: -40px; } }
  .i-section.is-market {
    height: 925px; }
    .i-section.is-market:after {
      display: block;
      clear: both;
      content: ""; }
    @media only screen and (max-width: 991px) {
      .i-section.is-market {
        min-height: 1px;
        padding-bottom: 60px; } }
    .i-section.is-market img {
      position: absolute;
      left: 90px;
      top: 90px;
      width: 45%; }
      @media only screen and (max-width: 991px) {
        .i-section.is-market img {
          width: 325px;
          float: left;
          margin: -25px 0 0 10px;
          position: static; } }
      @media only screen and (max-width: 767px) {
        .i-section.is-market img {
          margin: 0 auto;
          float: none;
          display: block;
          width: 100%;
          max-width: 390px; } }
  .i-section__inner {
    position: relative;
    max-width: 1194px;
    margin: 0 auto;
    padding: 210px 0 0;
    z-index: 1;
    top: -150px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s; }
    @media only screen and (max-width: 991px) {
      .i-section__inner {
        padding: 64px 0 0;
        max-width: 670px; } }
    .i-section__inner:after {
      clear: both;
      display: block;
      content: ""; }
  .i-section__reports {
    padding: 0 35px;
    max-width: 460px; }
    @media only screen and (max-width: 767px) {
      .i-section__reports {
        padding: 0 15px 0 15px;
        margin: 0 auto; } }
    .i-section__reports p {
      max-width: 360px; }
  .i-section__phone {
    max-width: 690px;
    padding: 0 35px; }
    @media only screen and (max-width: 767px) {
      .i-section__phone {
        padding: 0 15px;
        margin: 0 auto;
        max-width: 460px; } }
    .i-section__phone p {
      max-width: 365px; }
    @media only screen and (max-width: 767px) {
      .i-section__phone .fs46 {
        font-size: 40px; } }
  .i-section__market {
    max-width: 550px;
    width: 45%;
    float: right;
    padding: 20px 0; }
    @media only screen and (max-width: 991px) {
      .i-section__market {
        width: auto;
        overflow: hidden;
        float: none; } }
    @media only screen and (max-width: 767px) {
      .i-section__market {
        padding: 0 15px;
        max-width: 460px;
        margin: 0 auto; } }
    .i-section__market p {
      max-width: 455px; }
    @media only screen and (max-width: 767px) {
      .i-section__market .fs50 {
        font-size: 45px; } }
    .i-section__market .button-transparent {
      margin: 0 18px; }
      @media only screen and (max-width: 767px) {
        .i-section__market .button-transparent {
          margin: 0; } }
  .i-section .fs50, .i-section .fs46, .i-section p, .i-section li {
    color: #001936; }
  .i-section .fs50, .i-section .fs46 {
    margin-bottom: 7px; }
  .i-section p {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 18px; }
  .i-section ul, .i-section ol {
    margin-bottom: 10px;
    padding: 0; }
  .i-section ul li {
    list-style-type: none;
    padding: 0 0 0 32px; }
    .i-section ul li:before {
      content: "";
      position: absolute;
      top: 9px;
      left: 18px;
      width: 5px;
      height: 5px;
      background-color: #0C283F;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  .i-section li {
    font-size: 15px;
    line-height: 25px;
    position: relative; }

.i-row {
  background-color: #0C283F; }
  .i-row__inner {
    max-width: 1020px;
    margin: 0 auto;
    font-size: 0;
    padding: 108px 0 98px; }
    @media only screen and (max-width: 767px) {
      .i-row__inner {
        padding: 20px 0 75px; } }

.i-col {
  text-align: center;
  width: 50%;
  display: inline-block;
  vertical-align: top; }
  @media only screen and (max-width: 767px) {
    .i-col {
      width: 100%;
      display: block;
      margin: 0 auto;
      padding: 50px 0; } }
  .i-col.is-expert p {
    max-width: 405px; }
    @media only screen and (max-width: 767px) {
      .i-col.is-expert p {
        max-width: 300px; } }
  .i-col.is-client p {
    max-width: 330px; }
    @media only screen and (max-width: 767px) {
      .i-col.is-client p {
        max-width: 290px; } }
  .i-col__icon {
    width: 205px;
    height: 205px;
    position: relative;
    margin: 0 auto 30px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
    .i-col__icon.is-expert {
      background-image: url(../images/i-expert.png); }
    .i-col__icon.is-client {
      background-image: url(../images/i-client.png); }
    .i-col__icon img {
      width: 66px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .i-col__title, .i-col p {
    color: #F0EBE7; }
  .i-col__title {
    display: block;
    font-size: 40px;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    line-height: 1;
    margin-bottom: 7px; }
  .i-col p {
    font-size: 15px;
    font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
    margin: 0 auto 30px; }
    @media only screen and (max-width: 991px) {
      .i-col p {
        min-height: 85px; } }
  .i-col .button-transparent {
    padding: 9px 22px 7px;
    width: 273px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.orbit {
  background-color: #0C283F;
  padding: 160px 0 0; }
  @media only screen and (max-width: 991px) {
    .orbit {
      padding: 130px 0 0; } }
  @media only screen and (max-width: 767px) {
    .orbit {
      padding: 60px 0 0; } }
  .orbit__top {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 80px;
    padding: 0 15px; }
    @media only screen and (max-width: 991px) {
      .orbit__top {
        max-width: 715px;
        margin-bottom: 65px; } }
    @media only screen and (max-width: 767px) {
      .orbit__top {
        max-width: 430px;
        margin-bottom: 50px; } }
    .orbit__top p {
      font-size: 20px;
      opacity: 0.68;
      color: #F5F6F8;
      font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
      line-height: 1.2;
      margin: 0; }
      @media only screen and (max-width: 991px) {
        .orbit__top p {
          font-size: 15px; } }
      @media only screen and (max-width: 767px) {
        .orbit__top p {
          max-width: 360px;
          margin: 0 auto; } }
  .orbit__title {
    opacity: 0.8;
    color: #F5F6F8;
    font-size: 50px;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    line-height: 1.2;
    margin-bottom: 20px; }
    @media only screen and (max-width: 991px) {
      .orbit__title {
        font-size: 40px; } }
    @media only screen and (max-width: 767px) {
      .orbit__title {
        font-size: 30px;
        max-width: 350px;
        margin: 0 auto 10px; }
        @media only screen and (max-width: 767px) {
          .orbit__title br {
            display: none; } } }
  .orbit__img {
    text-align: center;
    min-height: 1118px;
    background: url(../images/orbit.png) no-repeat 50% 44px; }
    @media only screen and (max-width: 1240px) {
      .orbit__img {
        min-height: 1050px; } }
    @media only screen and (max-width: 767px) {
      .orbit__img {
        min-height: 556px;
        background: url(../images/orbit-mob.png) no-repeat center top;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover; } }
    .orbit__img-item {
      position: relative;
      display: inline-block; }
      @media only screen and (max-width: 767px) {
        .orbit__img-item {
          max-width: 160px; } }
      .orbit__img-item:before {
        position: absolute;
        top: 100%;
        left: 2px;
        right: 2px;
        height: 2px;
        margin-top: -4px;
        content: "";
        box-shadow: 0 0 8px 5px #000;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
      .orbit__img-item img {
        position: relative; }
        @media only screen and (max-width: 767px) {
          .orbit__img-item img {
            width: 100%; } }
  .orbit__items {
    font-size: 0;
    padding: 0 0 300px;
    max-width: 1160px;
    margin: 0 auto; }
    @media only screen and (max-width: 1240px) {
      .orbit__items {
        text-align: center;
        max-width: 727px;
        padding: 0 0 219px; } }
    @media only screen and (max-width: 991px) {
      .orbit__items {
        padding: 0 0 195px; } }
    @media only screen and (max-width: 767px) {
      .orbit__items {
        padding: 0 0 145px; } }
  @media only screen and (max-width: 767px) {
    .orbit__shadow {
      width: 100%;
      height: 341px;
      position: relative;
      overflow: hidden; } }
  @media only screen and (max-width: 767px) {
    .orbit__shadow-in {
      width: 727px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -363px; } }
  .orbit__shadow:before, .orbit__shadow:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 14%;
    display: none;
    z-index: 2; }
    @media only screen and (max-width: 767px) {
      .orbit__shadow:before, .orbit__shadow:after {
        display: block; } }
  .orbit__shadow:before {
    left: 0;
    background-image: -moz-linear-gradient(left, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
    background-image: -o-linear-gradient(left, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
    background-image: -webkit-linear-gradient(left, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
    background-image: linear-gradient(to right, #0C283F 0%, rgba(12, 40, 63, 0) 100%); }
  .orbit__shadow:after {
    right: 0;
    background-image: -moz-linear-gradient(right, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
    background-image: -o-linear-gradient(right, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
    background-image: -webkit-linear-gradient(right, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
    background-image: linear-gradient(to left, #0C283F 0%, rgba(12, 40, 63, 0) 100%); }
  .orbit__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    max-width: 220px; }
    @media only screen and (max-width: 1240px) {
      .orbit__item {
        width: 33%;
        max-width: 240px; } }
    .orbit__item img {
      width: 100%; }
  .orbit__text {
    float: right;
    max-width: 480px;
    padding: 50px 0 0 40px; }
    @media only screen and (max-width: 1240px) {
      .orbit__text {
        max-width: 690px;
        float: none;
        padding: 0 0 30px;
        margin: 0 auto; } }
    @media only screen and (max-width: 991px) {
      .orbit__text {
        max-width: 560px; } }
    @media only screen and (max-width: 767px) {
      .orbit__text {
        max-width: 420px;
        padding: 0 15px 40px;
        text-align: left; } }
    .orbit__text span, .orbit__text p {
      color: #F5F6F8;
      line-height: 1.2; }
    .orbit__text span {
      font-size: 50px;
      font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
      display: block;
      margin-bottom: 10px; }
      @media only screen and (max-width: 767px) {
        .orbit__text span {
          font-size: 40px; } }
    .orbit__text p {
      font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
      font-size: 15px;
      margin-bottom: 20px; }
      @media only screen and (max-width: 767px) {
        .orbit__text p {
          margin: 0; } }

.l-slider {
  background-color: #F0EBE7;
  padding: 235px 0 140px;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 991px) {
    .l-slider {
      padding: 160px 0 50px; } }
  @media only screen and (max-width: 767px) {
    .l-slider {
      padding: 125px 0 50px; } }
  .l-slider__inner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    position: relative; }
    .l-slider__inner .js-slick-for:before, .l-slider__inner .js-slick-for:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 24%;
      z-index: 2; }
      @media only screen and (max-width: 991px) {
        .l-slider__inner .js-slick-for:before, .l-slider__inner .js-slick-for:after {
          box-shadow: none;
          display: none; } }
    .l-slider__inner .js-slick-for:before {
      left: 0;
      background-image: -moz-linear-gradient(left, #F0EBE7 0%, rgba(240, 235, 231, 0) 100%);
      background-image: -o-linear-gradient(left, #F0EBE7 0%, rgba(240, 235, 231, 0) 100%);
      background-image: -webkit-linear-gradient(left, #F0EBE7 0%, rgba(240, 235, 231, 0) 100%);
      background-image: linear-gradient(to right, #F0EBE7 0%, rgba(240, 235, 231, 0) 100%); }
    .l-slider__inner .js-slick-for:after {
      right: 0;
      background-image: -moz-linear-gradient(right, #F0EBE7 0%, rgba(240, 235, 231, 0) 100%);
      background-image: -o-linear-gradient(right, #F0EBE7 0%, rgba(240, 235, 231, 0) 100%);
      background-image: -webkit-linear-gradient(right, #F0EBE7 0%, rgba(240, 235, 231, 0) 100%);
      background-image: linear-gradient(to left, #F0EBE7 0%, rgba(240, 235, 231, 0) 100%); }
  .l-slider .slick-next, .l-slider .slick-prev {
    opacity: 0;
    top: 0;
    margin: 0;
    bottom: 0;
    width: 24%;
    height: auto;
    z-index: 100; }
    @media only screen and (max-width: 991px) {
      .l-slider .slick-next, .l-slider .slick-prev {
        visibility: hidden; } }
  .l-slider__title {
    font-size: 35px;
    color: #0C283F;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    line-height: 1.2;
    max-width: 470px;
    margin: 0 auto 30px;
    padding: 0 15px;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .l-slider__title {
        font-size: 30px;
        margin-bottom: 40px;
        max-width: 400px; } }
  .l-slider_client {
    padding-top: 120px; }
    @media only screen and (max-width: 991px) {
      .l-slider_client {
        padding-top: 110px; } }
    @media only screen and (max-width: 767px) {
      .l-slider_client {
        padding-top: 90px; } }

.l-slide {
  margin: 0 auto;
  text-align: center;
  font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
  color: #001936;
  background: #F0EBE7; }
  .l-slide.slick-active {
    z-index: 100; }
    .l-slide.slick-active .l-slide__number, .l-slide.slick-active .l-slide__info, .l-slide.slick-active .l-slide__graph {
      visibility: visible;
      opacity: 1; }
  .l-slide.is-first .icon-left {
    visibility: hidden;
    opacity: 0; }
  .l-slide.is-last .icon-right {
    visibility: hidden;
    opacity: 0; }
  .l-slide__img {
    max-height: 600px;
    margin-bottom: 10px; }
    .l-slide__img img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto; }
  .l-slide__number {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #001936;
    width: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 42px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s; }
  .l-slide__arrs {
    display: inline-block;
    margin: 0 auto 12px;
    text-align: center; }
    @media only screen and (max-width: 1024px) {
      .l-slide__arrs {
        visibility: visible;
        opacity: 1; } }
    @media only screen and (max-width: 991px) {
      .l-slide__arrs {
        padding: 0 15px; } }
    .l-slide__arrs .icon {
      font-size: 52px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px;
      cursor: pointer; }
  .l-slide__graph {
    display: inline-block;
    vertical-align: middle;
    max-width: 81px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s; }
    .l-slide__graph img {
      width: 100%; }
  .l-slide__title {
    font-size: 35px;
    display: block;
    line-height: 1;
    margin-bottom: 11px; }
  .l-slide p {
    font-size: 15px;
    font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 405px; }
  .l-slide__info {
    min-height: 150px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s; }
    @media only screen and (max-width: 991px) {
      .l-slide__info {
        padding: 0 15px; } }

.c-slider {
  background-color: #0C283F; }
  .c-slider .l-slider__inner .js-slick-cfor:before, .c-slider .l-slider__inner .js-slick-cfor:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 24%;
    z-index: 2; }
    @media only screen and (max-width: 991px) {
      .c-slider .l-slider__inner .js-slick-cfor:before, .c-slider .l-slider__inner .js-slick-cfor:after {
        box-shadow: none;
        display: none; } }
  .c-slider .l-slider__inner .js-slick-cfor:before {
    left: 0;
    background-image: -moz-linear-gradient(left, #0C283F 0%, rgba(240, 235, 231, 0) 100%);
    background-image: -o-linear-gradient(left, #0C283F 0%, rgba(240, 235, 231, 0) 100%);
    background-image: -webkit-linear-gradient(left, #0C283F 0%, rgba(240, 235, 231, 0) 100%);
    background-image: linear-gradient(to right, #0C283F 0%, rgba(240, 235, 231, 0) 100%); }
  .c-slider .l-slider__inner .js-slick-cfor:after {
    right: 0;
    background-image: -moz-linear-gradient(right, #0C283F 0%, rgba(240, 235, 231, 0) 100%);
    background-image: -o-linear-gradient(right, #0C283F 0%, rgba(240, 235, 231, 0) 100%);
    background-image: -webkit-linear-gradient(right, #0C283F 0%, rgba(240, 235, 231, 0) 100%);
    background-image: linear-gradient(to left, #0C283F 0%, rgba(240, 235, 231, 0) 100%); }
  .c-slider .icon {
    color: #F0EBE7; }
  .c-slider .l-slide {
    background-color: #0C283F;
    color: #FFF; }
  .c-slider .l-slider__title {
    color: #F5F6F8; }

.l-network {
  background-color: #0C283F;
  padding: 160px 0; }
  @media only screen and (max-width: 991px) {
    .l-network {
      padding: 110px 0 20px; } }
  @media only screen and (max-width: 991px) {
    .l-network {
      padding: 70px 0 60px; } }
  .l-network__top {
    max-width: 840px;
    margin: 0 auto 125px;
    color: #F0EBE7;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    text-align: center;
    padding: 0 15px; }
    @media only screen and (max-width: 991px) {
      .l-network__top {
        text-align: left;
        max-width: 690px;
        margin-bottom: 20px; } }
    @media only screen and (max-width: 767px) {
      .l-network__top {
        max-width: 420px; } }
    .l-network__top p {
      font-size: 20px; }
      @media only screen and (max-width: 991px) {
        .l-network__top p {
          font-size: 15px; } }
  .l-network__title {
    font-size: 50px;
    display: block;
    line-height: 1;
    margin: 0 0 10px; }
    @media only screen and (max-width: 991px) {
      .l-network__title {
        font-size: 40px; } }
  .l-network__orbit {
    background: url(../images/l-network-orbit.png) no-repeat 50% 194px;
    padding: 0 15px 300px;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .l-network__orbit {
        display: none; } }
  .l-network__block-in {
    text-align: center;
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    font-size: 0;
    padding: 0 15px; }
    @media only screen and (max-width: 991px) {
      .l-network__block-in {
        text-align: left;
        max-width: 690px;
        margin-bottom: 80px; } }
    @media only screen and (max-width: 767px) {
      .l-network__block-in {
        max-width: 420px; } }
  .l-network__img {
    display: inline-block;
    font-size: 0;
    position: relative; }
    .l-network__img img {
      position: relative;
      max-width: 100%;
      z-index: 2; }
    .l-network__img:before, .l-network__img:after {
      position: absolute;
      left: 5px;
      right: 5px;
      content: "";
      top: 100%;
      border-radius: 5px; }
    .l-network__img:before {
      box-shadow: 0 0 10px 5px #00DDBC; }
    .l-network__img:after {
      box-shadow: 0 0 4px 2px #000; }
  .l-network__box {
    position: absolute;
    border-radius: 30px;
    background-color: #183e4c;
    font-size: 15px;
    color: #F5F6F8;
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
    line-height: 1;
    white-space: nowrap;
    z-index: 5;
    margin: 0 15px; }
    @media only screen and (max-width: 991px) {
      .l-network__box {
        position: static;
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        margin: 0 9px 15px 0; } }
    @media only screen and (max-width: 767px) {
      .l-network__box {
        font-size: 18px;
        border-radius: 20px; } }
    .l-network__box span {
      padding: 24px 0 21px 0;
      display: inline-block;
      vertical-align: middle; }
      @media only screen and (max-width: 991px) {
        .l-network__box span {
          padding: 16px 0; } }
    .l-network__box img {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle; }
      @media only screen and (max-width: 991px) {
        .l-network__box img {
          width: 45px;
          height: 45px;
          float: left; } }
      @media only screen and (max-width: 767px) {
        .l-network__box img {
          display: none; } }
    .l-network__box.is-left img {
      margin-right: 18px; }
      @media only screen and (max-width: 991px) {
        .l-network__box.is-left img {
          margin: 0 15px 0 0; } }
    .l-network__box.is-left span {
      padding-right: 40px; }
      @media only screen and (max-width: 991px) {
        .l-network__box.is-left span {
          padding: 17px 25px 17px 0; } }
      @media only screen and (max-width: 767px) {
        .l-network__box.is-left span {
          padding: 19px 18px 18px 18px; } }
    .l-network__box.is-right img {
      margin-left: 18px; }
      @media only screen and (max-width: 991px) {
        .l-network__box.is-right img {
          margin: 0 15px 0 0; } }
    .l-network__box.is-right span {
      padding-left: 40px; }
      @media only screen and (max-width: 991px) {
        .l-network__box.is-right span {
          padding: 17px 25px 17px 0; } }
      @media only screen and (max-width: 767px) {
        .l-network__box.is-right span {
          padding: 19px 18px 18px 18px; } }
    .l-network__box.is-one {
      top: 158px;
      left: 0; }
    .l-network__box.is-two {
      top: 341px;
      left: 5%; }
    .l-network__box.is-three {
      top: 444px;
      left: 26%; }
      @media only screen and (max-width: 1240px) {
        .l-network__box.is-three {
          left: 15%; } }
    .l-network__box.is-four {
      top: 444px;
      right: 26%; }
      @media only screen and (max-width: 1240px) {
        .l-network__box.is-four {
          right: 15%; } }
    .l-network__box.is-five {
      top: 341px;
      right: 0; }
    .l-network__box.is-six {
      top: 158px;
      right: 5%; }

.l-req {
  background-color: #0C283F;
  color: #F0EBE7;
  font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
  padding: 0 0 125px; }
  @media only screen and (max-width: 991px) {
    .l-req {
      padding: 0 0 80px; } }
  .l-req__top {
    max-width: 1050px;
    margin: 0 auto; }
    .l-req__top:after {
      display: block;
      clear: both;
      content: ""; }
  .l-req__left, .l-req__right {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 991px) {
      .l-req__left, .l-req__right {
        max-width: 620px;
        float: none;
        margin: 0 auto; } }
    @media only screen and (max-width: 767px) {
      .l-req__left, .l-req__right {
        max-width: 420px; } }
  .l-req__left {
    width: 52%;
    padding: 0 10px 0 100px; }
    @media only screen and (max-width: 1240px) {
      .l-req__left {
        padding: 20px;
        width: 50%; } }
    @media only screen and (max-width: 991px) {
      .l-req__left {
        width: 100%;
        padding: 0 15px; } }
    .l-req__left span {
      font-size: 40px;
      line-height: 1;
      display: block;
      margin-bottom: 10px; }
    .l-req__left p, .l-req__left ul {
      margin-bottom: 18px;
      padding: 0;
      max-width: 410px; }
    .l-req__left p, .l-req__left li {
      font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
      font-size: 15px;
      line-height: 1.2; }
    .l-req__left li {
      position: relative;
      list-style-type: none;
      padding: 0 0 0 20px; }
      .l-req__left li:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 4px;
        width: 7px;
        height: 7px;
        background-color: #00E1BF;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
  .l-req__right {
    width: 48%;
    padding: 0 0 0 30px;
    font-size: 0; }
    @media only screen and (max-width: 1240px) {
      .l-req__right {
        padding: 0;
        width: 50%; } }
    @media only screen and (max-width: 991px) {
      .l-req__right {
        width: 100%;
        padding: 0 15px; } }
    .l-req__right span {
      display: block;
      font-size: 20px;
      padding: 16px 0 0;
      margin-bottom: 12px;
      line-height: 1.2;
      margin-bottom: 14px; }
  .l-req__tag {
    color: #FFF;
    font-size: 15px;
    font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
    line-height: 1;
    background-color: #A0A3AA;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 15px 35px 13px;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 15px 0;
    text-decoration: none !important; }
    @media only screen and (max-width: 767px) {
      .l-req__tag {
        font-size: 14px;
        padding: 13px 33px 12px; } }
  .l-req__body {
    max-width: 1050px;
    margin: 0 auto;
    padding: 90px 0 0; }
    @media only screen and (max-width: 991px) {
      .l-req__body {
        max-width: 620px;
        padding: 60px 0 0; } }
    @media only screen and (max-width: 767px) {
      .l-req__body {
        max-width: 420px; } }
    .l-req__body:after {
      display: block;
      clear: both;
      content: ""; }
    .l-req__body.is-client {
      max-width: 1110px; }
      @media only screen and (max-width: 991px) {
        .l-req__body.is-client {
          max-width: 370px;
          text-align: left; } }
      .l-req__body.is-client .l-req__text {
        padding-top: 0; }
        @media only screen and (max-width: 991px) {
          .l-req__body.is-client .l-req__text {
            text-align: left; } }
        @media only screen and (max-width: 991px) {
          .l-req__body.is-client .l-req__text span {
            font-size: 45px; } }
  .l-req__icon {
    float: left;
    width: 274px;
    height: 274px;
    position: relative;
    background: no-repeat center center;
    margin: 0 28px 0 40px;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
    @media only screen and (max-width: 1240px) {
      .l-req__icon {
        margin: 0 20px; } }
    @media only screen and (max-width: 991px) {
      .l-req__icon {
        float: none;
        margin: 0 auto 25px; } }
    .l-req__icon.is-expert {
      background-image: url(../images/i-expert.png); }
    .l-req__icon.is-client {
      background-image: url(../images/i-client.png); }
    .l-req__icon img {
      width: 92px;
      height: 92px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -46px 0 0 -46px; }
  .l-req__text {
    overflow: hidden;
    padding: 50px 20px 50px 20px; }
    @media only screen and (max-width: 991px) {
      .l-req__text {
        width: 100%;
        overflow: visible;
        padding: 0 15px;
        text-align: center; } }
    .l-req__text span {
      display: block;
      font-size: 50px;
      line-height: 1;
      margin-bottom: 8px; }
      @media only screen and (max-width: 767px) {
        .l-req__text span {
          font-size: 40px; } }
    .l-req__text p {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 17px; }
      @media only screen and (max-width: 767px) {
        .l-req__text p {
          font-size: 15px; } }
    .l-req__text ul {
      padding: 23px 0 5px;
      font-size: 15px;
      line-height: 1.2;
      max-width: 390px; }
      .l-req__text ul li {
        list-style-type: none;
        padding: 0 0 0 18px;
        position: relative;
        margin: 0 0 18px; }
        .l-req__text ul li:before {
          position: absolute;
          top: 5px;
          left: 0;
          width: 7px;
          height: 7px;
          background-color: #00E1BF;
          border-radius: 50%;
          content: ""; }
    .l-req__text .button-transparent {
      font-size: 17px;
      padding: 11px 39px 9px; }

.c-orbit {
  background-color: #0C283F; }
  .c-orbit__top {
    max-width: 620px;
    color: #F5F6F8;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
    padding: 114px 15px 66px; }
    @media only screen and (max-width: 991px) {
      .c-orbit__top {
        padding: 130px 15px 20px; } }
    @media only screen and (max-width: 767px) {
      .c-orbit__top {
        padding: 90px 15px 20px; } }
    .c-orbit__top span {
      font-size: 40px;
      font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
      display: block;
      margin-bottom: 3px; }
      @media only screen and (max-width: 767px) {
        .c-orbit__top span {
          font-size: 30px; } }
    .c-orbit__top p {
      font-size: 15px;
      font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
      margin: 0; }
  .c-orbit__el {
    position: relative;
    background: url(../images/c-orbit.png) no-repeat top center; }
    @media only screen and (max-width: 991px) {
      .c-orbit__el {
        padding: 135px 0 0;
        background-image: url(../images/c-orbit-mob.png); } }
    @media only screen and (max-width: 767px) {
      .c-orbit__el {
        padding: 20% 0 0;
        background-position: bottom center;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover; } }
    .c-orbit__el:after {
      opacity: 0.8;
      height: 55px;
      background-image: -moz-linear-gradient(bottom, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
      background-image: -o-linear-gradient(bottom, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
      background-image: -webkit-linear-gradient(bottom, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
      background-image: linear-gradient(to top, #0C283F 0%, rgba(12, 40, 63, 0) 100%);
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      @media only screen and (max-width: 991px) {
        .c-orbit__el:after {
          height: 189px; } }
      @media only screen and (max-width: 767px) {
        .c-orbit__el:after {
          height: 0;
          padding: 0 0 42%; } }
  .c-orbit__el-in {
    height: 416px;
    background: url(../images/c-element.png) no-repeat top center; }
    @media only screen and (max-width: 767px) {
      .c-orbit__el-in {
        height: 0;
        padding: 0 0 77%;
        background-position: 49% 50%;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover; } }

.c-rate__inner {
  max-width: 1086px;
  margin: 0 auto;
  padding: 160px 0 140px; }
  @media only screen and (max-width: 991px) {
    .c-rate__inner {
      max-width: 480px; } }
  .c-rate__inner:after {
    clear: both;
    display: block;
    content: ""; }
.c-rate__block {
  float: left;
  text-align: right;
  padding: 0 24px 0 0;
  width: 53%; }
  @media only screen and (max-width: 991px) {
    .c-rate__block {
      float: none;
      width: 100%;
      text-align: center;
      padding: 0; } }
  .c-rate__block img {
    max-width: 100%; }
.c-rate__text {
  float: left;
  width: 47%;
  color: #0C283F;
  padding: 10px 0; }
  @media only screen and (max-width: 991px) {
    .c-rate__text {
      float: none;
      width: 100%;
      text-align: left;
      max-width: 410px;
      margin: 0 auto;
      padding: 10px 15px; } }
  .c-rate__text span {
    font-size: 50px;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    display: block;
    line-height: 1.2;
    margin-bottom: 7px; }
  .c-rate__text p {
    font-size: 17px;
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
    margin-bottom: 17px; }
    @media only screen and (max-width: 991px) {
      .c-rate__text p br {
        display: none; } }

/*# sourceMappingURL=inner.css.map */