#wrapper.is-bg #main {
  background: url(../images/bg-man3.jpg) no-repeat bottom center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#wrapper.is-bg_mod {
  background: url(../images/bg-man1.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#wrapper.bg-term {
  background-color: #0C283F; }
  #wrapper.bg-term #main {
    padding: 65px 0; }
  #wrapper.bg-term .term {
    max-width: 660px;
    background: #fff;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
    position: relative; }
    @media only screen and (max-width: 767px) {
      #wrapper.bg-term .term {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        max-width: 320px; } }
    #wrapper.bg-term .term__text {
      padding: 40px 50px 10px 50px; }
      @media only screen and (max-width: 767px) {
        #wrapper.bg-term .term__text {
          padding: 30px 35px 10px 25px; } }
    #wrapper.bg-term .term .icon-close-2 {
      font-size: 40px;
      position: absolute;
      top: 15px;
      right: 20px;
      color: #001936;
      text-decoration: none;
      z-index: 10; }
      @media only screen and (max-width: 767px) {
        #wrapper.bg-term .term .icon-close-2 {
          font-size: 30px;
          right: 15px; } }
      #wrapper.bg-term .term .icon-close-2:hover {
        color: #A0A3AA; }
      #wrapper.bg-term .term .icon-close-2:active {
        color: #00E1BF; }
    #wrapper.bg-term .term__inner h3 {
      margin: 0 0 30px;
      font-size: 30px;
      font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
      color: #979BA3; }
      @media only screen and (max-width: 767px) {
        #wrapper.bg-term .term__inner h3 {
          font-size: 25px;
          margin: 0 0 20px; } }
    #wrapper.bg-term .term__inner h4 {
      color: #979BA3;
      font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
      margin: 0 0 10px;
      font-size: 14px; }
    #wrapper.bg-term .term__inner p {
      margin: 0 0 30px;
      color: #979BA3;
      font-size: 12px; }
      @media only screen and (max-width: 767px) {
        #wrapper.bg-term .term__inner p {
          margin: 0 0 20px; } }

.s-form {
  max-width: 281px;
  margin: 0 auto; }

.s-field {
  padding: 33px 28px 19px;
  background-color: #FFF;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 0 1px 2px rgba(35, 34, 30, 0.35);
  -webkit-box-shadow: 0 1px 2px rgba(35, 34, 30, 0.35);
  box-shadow: 0 1px 2px rgba(35, 34, 30, 0.35);
  margin: 0 0 16px; }
  .s-field p {
    font-size: 18px;
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #001936; }
  .s-field input, .s-field .s-btn {
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .s-field .fieldcheck {
    margin: 0;
    display: inline-block;
    vertical-align: top; }
  .s-field .s-link {
    font-size: 12px;
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
    color: #0C283F;
    padding: 2px 0;
    float: right; }

.s-btn {
  color: #fff;
  font-size: 13px;
  line-height: 1;
  width: 100%;
  padding: 9px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #0C283F;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  vertical-align: top; }
  .s-btn:hover {
    background: #00e1bf;
    color: #fff; }

.s-text {
  color: #001936;
  font-size: 16px;
  text-align: center;
  font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif; }
  .s-text a {
    text-decoration: underline;
    color: #001936; }
    .s-text a:hover {
      text-decoration: none; }

.s-title {
  font-size: 30px;
  color: #001936;
  font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
  text-align: center;
  display: block;
  padding: 0 0 20px; }

.sign__box {
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
.sign__icon {
  margin: 0 0 25px;
  position: relative;
  font-size: 85px;
  display: inline-block;
  color: #fff; }
.sign__title {
  font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
  font-size: 40px;
  color: #FEFEFE;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  display: block;
  margin-bottom: 15px; }
  @media only screen and (max-width: 767px) {
    .sign__title {
      font-size: 22px; } }
.sign p {
  font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #FEFEFE;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  margin-bottom: 29px; }
  @media only screen and (max-width: 767px) {
    .sign p {
      font-size: 12px;
      text-align: center; } }
.sign__arr {
  display: inline-block;
  margin: 0 auto;
  text-decoration: none !important;
  font-size: 50px;
  color: #fff; }

.signup {
  text-align: center; }
  .signup h1 {
    font-size: 39px;
    color: #BFCCD5; }
    @media only screen and (max-width: 767px) {
      .signup h1 {
        font-size: 25px; } }
  .signup form {
    padding: 10px 0 0; }
  .signup p {
    font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
    font-size: 14px;
    color: #BFCCD5;
    padding: 0 5px; }
  .signup__icon {
    display: inline-block;
    color: #fff;
    margin: 0 auto 15px;
    font-size: 174px; }
  .signup__to {
    position: absolute;
    top: 350px; }
    @media only screen and (max-width: 767px) {
      .signup__to {
        position: static;
        display: inline-block; } }
    .signup__to.is-left {
      left: 60px; }
    .signup__to.is-right {
      right: 60px; }
    .signup__to a {
      font-size: 56px;
      color: #fff;
      text-decoration: none !important; }
      .signup__to a.icon-left {
        float: left; }
      .signup__to a.icon-right {
        float: right; }
      .signup__to a.icon__deer, .signup__to a.icon__eagle {
        font-size: 43px;
        display: inline-block;
        vertical-align: top;
        margin: 6px 0 0; }
  .signup__form {
    max-width: 280px;
    margin: 0 auto 10px; }
  .signup__field {
    margin-bottom: 10px; }
  .signup .s-btn {
    font-size: 16px;
    color: #F5F6F8;
    background-color: #183E4E;
    padding: 11px; }
    .signup .s-btn:hover {
      background: #00e1bf;
      color: #fff; }
  .signup .form-input {
    font-size: 14px;
    padding: 8px 20px;
    text-align: center; }
  .signup .fieldcheck {
    margin: 0;
    text-align: left;
    padding: 10px 0; }
    .signup .fieldcheck label {
      display: inline-block;
      vertical-align: top;
      position: relative; }
    .signup .fieldcheck span, .signup .fieldcheck a {
      color: #BFCCD5; }
    .signup .fieldcheck a {
      font-size: 12px;
      font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
      text-decoration: underline;
      display: inline-block;
      vertical-align: top;
      padding: 2px 0 0; }

.s-select {
  position: relative;
  cursor: pointer;
  font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
  font-size: 12px;
  color: #fff; }
  .s-select.is-active .s-select__text {
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0; }
  .s-select select {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; }

.s-select__text {
  position: relative;
  display: block;
  padding: 0 30px 0 13px;
  height: 36px;
  line-height: 36px;
  background-color: #183D4D;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .s-select__text:after {
    content: "";
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -2px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #fff transparent transparent transparent; }

.s-select__list {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 100;
  border-top: 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #183D4D;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px; }
  .s-select__list li {
    padding: 5px 11px;
    cursor: pointer;
    line-height: 1; }
    .s-select__list li:hover {
      background: #717791;
      color: white; }

input.s-input {
  font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  outline: none;
  background-color: #183D4D;
  padding: 0 12px;
  height: 36px;
  border: 1px solid #183D4D;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  input.s-input.is-valid {
    border-color: #00E1BF; }
  input.s-input.is-error {
    border-color: #DF1338; }

input.s-input:-moz-placeholder {
  color: #fff;
  opacity: 1; }
input.s-input::-moz-placeholder {
  color: #fff;
  opacity: 1; }
input.s-input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1; }

.s-email {
  text-align: center;
  padding: 0 15px; }
  @media only screen and (max-width: 767px) {
    .s-email {
      max-width: 260px;
      margin: 0 auto; } }
  .s-email__form {
    max-width: 640px;
    margin: 0 auto;
    text-align: left;
    padding: 15px 0; }
  .s-email h2, .s-email p, .s-email h5 {
    color: #BFCCD5; }
  @media only screen and (max-width: 767px) {
    .s-email h2 {
      font-size: 25px; } }
  @media only screen and (max-width: 767px) {
    .s-email p {
      font-size: 14px; } }
  .s-email h5 {
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif; }
    @media only screen and (max-width: 767px) {
      .s-email h5 {
        text-align: center;
        font-size: 25px; } }
  .s-email__box {
    padding: 10px 0 0; }
  .s-email__row {
    margin: 0 -5px; }
    .s-email__row:after {
      display: block;
      clear: both;
      content: ""; }
  .s-email__medium, .s-email__small {
    float: left;
    padding: 0 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .s-email__medium {
    width: 36%; }
    @media only screen and (max-width: 767px) {
      .s-email__medium {
        width: 100%; } }
  .s-email__small {
    width: 28%; }
    @media only screen and (max-width: 767px) {
      .s-email__small {
        width: 100%; } }
  .s-email__btn {
    width: 36%;
    padding: 20px 5px 10px;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 767px) {
      .s-email__btn {
        width: 100%; } }
  .s-email__bottom {
    clear: both; }
    .s-email__bottom:after {
      display: block;
      clear: both;
      content: ""; }
  .s-email__add {
    float: left;
    font-size: 14px;
    color: #417D7B;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    padding: 0 0 0 25px;
    line-height: 18px;
    position: relative;
    margin-bottom: 10px; }
    .s-email__add:hover, .s-email__add:active, .s-email__add:focus {
      text-decoration: none; }
    .s-email__add:hover {
      color: #495769; }
    .s-email__add:active {
      color: #001936; }
    .s-email__add i {
      position: absolute;
      top: -2px;
      left: -2px;
      font-size: 21px; }
  .s-email .fieldcheck {
    float: right;
    margin-bottom: 10px; }
    @media only screen and (max-width: 767px) {
      .s-email .fieldcheck {
        float: none;
        margin: 0 0 10px; } }
    .s-email .fieldcheck label {
      margin: 0; }
    .s-email .fieldcheck span {
      color: #BFCCD5;
      font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif; }
    .s-email .fieldcheck .checkbox-visual {
      background-color: #183E4C; }
    .s-email .fieldcheck input:checked + .checkbox-visual {
      background: #183E4C url(../images/checkbox.png) no-repeat 50% 50%; }

.e-btn {
  font-size: 16px;
  color: #fff;
  font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
  background-color: #00E1BF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 100%;
  padding: 9px 10px 8px;
  position: relative; }
  .e-btn:hover {
    background-color: #183E4C;
    color: #fff; }
  .e-btn:active {
    background-color: #001936; }

.s-success {
  max-width: 520px;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .s-success {
      max-width: 270px; } }
  .s-success h2 {
    font-size: 60px;
    color: #BFCCD5;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .s-success h2 {
        font-size: 30px; } }
  .s-success p {
    margin: 0;
    color: #BFCCD5; }
    @media only screen and (max-width: 767px) {
      .s-success p {
        font-size: 15px; } }
    @media only screen and (max-width: 767px) {
      .s-success p br {
        display: none; } }
  .s-success__btns {
    padding: 45px 0 0; }
  .s-success__btn {
    font-size: 18px;
    color: #F5F6F8;
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
    line-height: 40px;
    width: 100%;
    max-width: 220px;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #183E4E;
    outline: none;
    position: relative; }
    .s-success__btn:active {
      background-color: #001936; }

.tutorial {
  max-width: 640px;
  padding: 0 40px;
  margin: 0 auto;
  text-align: center;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .tutorial {
      max-width: 280px;
      padding: 0; } }
  .tutorial__img {
    width: 375px;
    height: 375px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    @media only screen and (max-width: 767px) {
      .tutorial__img {
        width: 192px;
        height: 192px; } }
    .tutorial__img img {
      width: 100%; }
  .tutorial h2 {
    font-size: 66px;
    color: #BFCCD5; }
    @media only screen and (max-width: 767px) {
      .tutorial h2 {
        font-size: 25px; } }
  .tutorial h3 {
    font-size: 50px;
    color: #BFCCD5; }
    @media only screen and (max-width: 767px) {
      .tutorial h3 {
        font-size: 25px; } }
  .tutorial p {
    font-size: 20px;
    color: #BFCCD5; }
    @media only screen and (max-width: 767px) {
      .tutorial p {
        font-size: 14px; } }
    @media only screen and (max-width: 767px) {
      .tutorial p br {
        display: none; } }
  .tutorial__text p {
    font-size: 16px; }
    @media only screen and (max-width: 767px) {
      .tutorial__text p {
        font-size: 14px; } }
  .tutorial__arrs .icon {
    font-size: 52px;
    color: #fff;
    position: absolute;
    top: 167px;
    text-decoration: none !important; }
    @media only screen and (max-width: 767px) {
      .tutorial__arrs .icon {
        font-size: 34px;
        top: 84px; } }
    .tutorial__arrs .icon.is-disable {
      display: none; }
    .tutorial__arrs .icon-left {
      left: 0; }
    .tutorial__arrs .icon-right {
      right: 0; }

.client {
  max-width: 680px;
  margin: 0 auto;
  font-size: 0; }
  @media only screen and (max-width: 767px) {
    .client {
      max-width: 320px; } }
  .client:after {
    display: block;
    clear: both;
    content: ""; }
  @media only screen and (max-width: 767px) {
    .client__info {
      padding: 0 20px 20px; } }
  .client__box {
    width: 50%;
    padding: 0 20px;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 767px) {
      .client__box {
        width: 100%;
        padding: 0 10px; } }
  .client__form {
    padding: 20px;
    background: #fff;
    margin: 0 0 15px;
    font-size: 0;
    -webkit-border-radius: 7px;
    border-radius: 7px; }
    .client__form h5 {
      color: #041A35;
      margin: 0 0 20px; }
    .client__form .form-input {
      padding-left: 37px; }
    .client__form .jcf-select .jcf-select-text {
      margin-left: 37px; }
    .client__form .icon {
      position: absolute;
      top: 50%;
      z-index: 1; }
      .client__form .icon-creditcard, .client__form .icon-mail {
        font-size: 22px;
        margin-top: -12px;
        left: 8px; }
      .client__form .icon-dk-visa {
        background: url(../images/dk-visa.png) no-repeat center center;
        width: 33px;
        height: 20px;
        margin-top: -10px;
        right: 11px; }
      .client__form .icon-calendar {
        font-size: 18px;
        margin-top: -9px;
        left: 16px; }
      .client__form .icon-lock {
        font-size: 16px;
        margin-top: -8px;
        left: 13px; }
      .client__form .icon-world {
        font-size: 16px;
        margin-top: -8px;
        left: 11px;
        z-index: 2; }
      .client__form .icon-user {
        font-size: 18px;
        margin-top: -10px;
        left: 10px; }
  .client__field {
    margin-bottom: 11px;
    position: relative; }
    .client__field.is-card .form-input {
      padding-right: 50px; }
  .client__row {
    margin: 0 -6px 11px; }
  .client__date {
    width: 56%;
    padding: 0 6px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .client__cvc {
    width: 44%;
    padding: 0 6px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .client__btn {
    padding: 10px 0 0; }
  .client small {
    text-align: center;
    font-size: 12px;
    color: #BFCCD5;
    display: block;
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif; }
  .client h2 {
    color: #BFCCD5;
    font-size: 40px;
    margin-top: 10px; }
    @media only screen and (max-width: 767px) {
      .client h2 {
        font-size: 25px; } }
  .client p {
    font-size: 16px;
    color: #BFCCD5;
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif; }
    @media only screen and (max-width: 767px) {
      .client p {
        font-size: 14px; } }
  .client__list {
    font-size: 20px;
    color: #BFCCD5;
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
    list-style-type: none;
    padding: 10px 0 0; }
    @media only screen and (max-width: 767px) {
      .client__list {
        font-size: 15px; } }
    .client__list li {
      position: relative;
      padding: 0 0 0 25px; }
      .client__list li:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 8px;
        height: 8px;
        background-color: #FFF;
        -webkit-border-radius: 50%;
        border-radius: 50%; }

.btn-sub {
  color: #F5F6F8;
  font-size: 20px;
  font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
  border: none;
  outline: none;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: #00E1BF;
  line-height: 46px;
  width: 100%; }
  .btn-sub:hover {
    background-color: #183E4C; }
  .btn-sub:active {
    background-color: #0C283F; }

.sign-up {
  padding: 100px 0; }
  @media only screen and (max-width: 767px) {
    .sign-up {
      padding: 30px 0; } }

.c-sign {
  padding-top: 180px;
  padding-bottom: 180px; }
  @media only screen and (max-width: 767px) {
    .c-sign {
      padding-top: 80px;
      padding-bottom: 80px; } }

.js-scroll {
  width: 100%;
  height: 800px;
  overflow: auto; }

.jspContainer {
  overflow: hidden;
  position: relative; }

.jspPane {
  position: absolute; }

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%; }

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px; }

.jspCap {
  display: none; }

.jspHorizontalBar .jspCap {
  float: left; }

.jspTrack {
  position: relative; }

.jspDrag {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: #041A35; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%; }

.jspArrow {
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0; }

.jspArrow.jspDisabled {
  cursor: default; }

.jspVerticalBar .jspArrow {
  height: 16px; }

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%; }

.jspVerticalBar .jspArrow:focus {
  outline: none; }

.jspCorner {
  float: left;
  height: 100%; }

* html .jspCorner {
  margin: 0 -3px 0 0; }

body #wrapper.is-report {
  background: url(../images/bg-report.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.report__header {
  background-color: #001936;
  padding: 20px 15px; }
  .report__header:after {
    display: block;
    clear: both;
    content: ""; }
  .report__header-in {
    max-width: 1300px;
    margin: 0 auto; }
.report__back {
  color: #597A96;
  font-size: 18px;
  font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
  float: left;
  position: relative;
  line-height: 1;
  text-decoration: none !important; }
  @media only screen and (max-width: 767px) {
    .report__back {
      font-size: 12px; } }
  .report__back:hover {
    color: #00E1BF; }
  .report__back span {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 0 0 10px; }
    @media only screen and (max-width: 767px) {
      .report__back span {
        padding: 1px 0 0 5px; } }
  .report__back i {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle; }
.report__list {
  float: right;
  font-size: 0;
  margin: 0;
  padding: 7px 0 0; }
  @media only screen and (max-width: 767px) {
    .report__list {
      padding: 5px 0 0; } }
  .report__list li {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px; }
    @media only screen and (max-width: 767px) {
      .report__list li {
        margin: 0 0 0 15px; } }
    .report__list li a {
      color: #597A96;
      font-size: 18px;
      font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
      text-decoration: none !important; }
      @media only screen and (max-width: 767px) {
        .report__list li a {
          font-size: 12px; } }
      .report__list li a:hover, .report__list li a.is-active {
        color: #00E1BF; }
.report__icon {
  width: 141px;
  height: 122px;
  display: block;
  margin: 0 auto;
  background: url(../images/report-icon.png) no-repeat center center;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }
.report__submit {
  padding: 115px 15px;
  text-align: center; }
  .report__submit h2 {
    font-size: 47px;
    color: #F5F6F8;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    margin-top: 10px; }
  .report__submit p {
    color: #F5F6F8;
    font-size: 12px;
    max-width: 280px;
    margin: 0 auto 15px; }
.report__share {
  font-size: 0;
  margin-bottom: 27px; }
  .report__share a {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 10px; }
.report__body {
  max-width: 660px;
  margin: 0 auto;
  padding: 40px 15px 60px; }
  .report__body h2 {
    font-size: 50px;
    color: #F5F6F8;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif; }
  .report__body h4 {
    color: #F5F6F8;
    font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
    margin-bottom: 40px; }

.tile {
  background-color: #FFF;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden; }
  .tile__img {
    background: url(../images/tile-bg.jpg) no-repeat 50% 25%;
    padding: 20px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .tile__sticker {
    font-size: 0; }
    .tile__sticker p {
      font-size: 14px;
      color: #FFF;
      font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
      margin: 0; }
    .tile__sticker div {
      display: inline-block;
      vertical-align: middle; }
  .tile__rating {
    color: #FFF;
    font-size: 10px;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    width: 34px;
    padding: 10px 0 9px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    background: url(../images/tile-rating.png) no-repeat center center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .tile small {
    color: #FFF;
    font-size: 10px;
    font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
    display: block; }
  .tile__text {
    padding: 60px 0 0; }
    .tile__text h4 {
      font-size: 22px;
      color: #FFF;
      margin: 0 0 5px; }
  .tile__info {
    font-size: 0;
    padding: 0 20px;
    border-bottom: 1px solid #d9dfe6; }
    .tile__info div {
      display: inline-block;
      vertical-align: middle;
      color: #001936;
      line-height: 1;
      padding: 12px 0;
      margin: 0 35px 0 0; }
      .tile__info div i, .tile__info div span {
        display: inline-block;
        vertical-align: top; }
      .tile__info div span {
        font-size: 10px;
        padding: 2px 0 0;
        font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif; }
      .tile__info div i {
        font-size: 13px;
        margin: 0 5px 0 0; }
  .tile__btns:after {
    display: block;
    clear: both;
    content: ""; }
  .tile__cancel {
    color: #495769;
    font-size: 14px;
    background-color: #E5E5E5;
    border: none;
    width: 50%;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 42px;
    text-align: center;
    float: left;
    outline: none; }
    .tile__cancel:hover {
      background-color: #A0A3AA;
      color: #001936; }
    .tile__cancel:active {
      background-color: #001936;
      color: #FFF; }
  .tile__submit {
    color: #FFF;
    font-size: 14px;
    background-color: #00E1BF;
    border: none;
    width: 50%;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 42px;
    text-align: center;
    float: left;
    outline: none; }
    .tile__submit:hover {
      background-color: #183E4C;
      color: #FFF; }
    .tile__submit:active {
      background-color: #0C283F;
      color: #FFF; }
  .tile__file {
    position: relative;
    padding: 14px 20px 14px 43px;
    float: left;
    width: 67%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .tile__file .icon {
      color: #001936;
      font-size: 22px;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 18px; }
    .tile__file span {
      font-size: 11px;
      color: #FFF;
      border-radius: 7px;
      background-color: #001936;
      max-width: 157px;
      width: 100%;
      line-height: 1;
      display: block;
      padding: 2px 15px 1px;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis; }
  .tile__download {
    color: #FFF;
    font-size: 11px;
    background-color: #00E1BF;
    border: none;
    width: 33%;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 42px;
    text-align: center;
    float: left;
    outline: none; }
    .tile__download:hover {
      background-color: #183E4C;
      color: #FFF; }
    .tile__download:active {
      background-color: #0C283F;
      color: #FFF; }
  .tile__remove {
    color: #979BA3;
    font-size: 11px;
    background-color: #F5F6F8;
    border: none;
    width: 33%;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 42px;
    text-align: center;
    float: left;
    outline: none; }
    .tile__remove:hover {
      background-color: #495769;
      color: #FFF; }
    .tile__remove:active {
      background-color: #0C283F;
      color: #FFF; }

.r-btn {
  font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
  color: #FFF;
  font-size: 17px;
  background-color: #00E1BF;
  border: none;
  padding: 0 47px;
  outline: none;
  line-height: 31px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .r-btn:hover {
    background-color: #183E4C; }
  .r-btn:active {
    background-color: #001936; }

.toolbox {
  max-width: 1250px;
  margin: 0 auto;
  padding: 55px 15px; }
  @media only screen and (max-width: 991px) {
    .toolbox {
      max-width: 690px; } }
  @media only screen and (max-width: 767px) {
    .toolbox {
      max-width: 320px; } }
  .toolbox:after {
    display: block;
    clear: both;
    content: ""; }
  .toolbox__sidebar {
    float: left;
    width: 220px;
    background: #FFF;
    overflow: hidden;
    margin: 0 14px 14px 0;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; }
    @media only screen and (max-width: 767px) {
      .toolbox__sidebar {
        width: 100%;
        float: none; } }
    .toolbox__sidebar h6 {
      font-size: 15px;
      color: #001936;
      font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif; }
    .toolbox__sidebar p {
      font-size: 12px;
      color: #A0A3AA; }
  .toolbox__top {
    color: #001936;
    font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
    font-size: 12px;
    background-color: #F5F6F8;
    display: block;
    padding: 10px 20px 9px; }
  .toolbox__box {
    padding: 5px 20px;
    border-bottom: 1px solid #d9dfe6; }
  .toolbox__info {
    font-size: 10px;
    color: #001936; }
    .toolbox__info span {
      display: block;
      position: relative;
      padding: 1px 0 1px 15px;
      margin-bottom: 8px; }
      .toolbox__info span i {
        position: absolute;
        top: 50%;
        left: 0; }
        .toolbox__info span i.i-tag {
          font-size: 12px;
          margin-top: -6px; }
        .toolbox__info span i.i-bag {
          font-size: 12px;
          margin-top: -6px; }
        .toolbox__info span i.icon-map-marker {
          font-size: 16px;
          margin-top: -9px;
          margin-left: -2px; }
  .toolbox__steps {
    list-style-type: none;
    padding: 14px 0 0; }
    .toolbox__steps li {
      display: block;
      position: relative;
      padding-bottom: 13px; }
      .toolbox__steps li:last-child:before {
        display: none; }
      .toolbox__steps li:before {
        position: absolute;
        bottom: 0;
        height: 13px;
        border-right: 1px solid #d9dbe0;
        content: "";
        left: 16px; }
    .toolbox__steps a {
      color: #D9DBE0;
      font-size: 12px;
      padding: 8px 0 7px 40px;
      position: relative;
      display: block; }
      .toolbox__steps a.is-active {
        color: #001936; }
        .toolbox__steps a.is-active span {
          background: #001936;
          border-color: #001936; }
          .toolbox__steps a.is-active span .is-plus {
            border-color: #001936; }
      .toolbox__steps a.is-green {
        color: #00E1BF; }
        .toolbox__steps a.is-green span {
          color: #FFF;
          background: #00E1BF;
          border-color: #00E1BF; }
          .toolbox__steps a.is-green span .is-plus {
            border-color: #00E1BF; }
      .toolbox__steps a.is-red {
        color: #DF1338; }
        .toolbox__steps a.is-red span {
          color: #FFF;
          background-color: #DF1338;
          border-color: #DF1338; }
          .toolbox__steps a.is-red span .is-plus {
            border-color: #DF1338; }
      .toolbox__steps a span {
        font-size: 13px;
        color: #D9DBE0;
        font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif;
        line-height: 30px;
        width: 32px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #D9DBE0;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
        .toolbox__steps a span .is-plus {
          display: inline-block;
          position: relative;
          width: 11px;
          height: 9px; }
          .toolbox__steps a span .is-plus:before, .toolbox__steps a span .is-plus:after {
            position: absolute;
            content: ""; }
          .toolbox__steps a span .is-plus:before {
            border-left: 1px solid #D9DBE0;
            height: 9px;
            top: 0;
            left: 5px; }
          .toolbox__steps a span .is-plus:after {
            border-bottom: 1px solid #D9DBE0;
            width: 11px;
            top: 4px;
            left: 0; }
  .toolbox__btns {
    padding: 20px 20px 10px; }
    .toolbox__btns .button {
      width: 100%;
      height: auto;
      line-height: 1;
      padding: 7px 0;
      font-size: 17px;
      font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
      margin-bottom: 10px; }
  .toolbox__block {
    padding: 0 0 0 234px; }
    @media only screen and (max-width: 767px) {
      .toolbox__block {
        padding: 0; } }
    .toolbox__block h3 {
      margin: 0 0 10px; }
    .toolbox__block .button {
      line-height: 1;
      height: auto;
      padding: 7px 0;
      font-size: 17px;
      font-family: 'HelveticaNeueW01-Lt', Arial, sans-serif;
      margin: 0 3px 10px;
      width: 171px; }
  .toolbox__form {
    background-color: #FFF;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 26px 26px 6px;
    margin-bottom: 20px; }
    .toolbox__form.is-introduction .button {
      margin-bottom: 20px; }
    .toolbox__form p {
      color: #979BA3;
      font-size: 12px; }
  .toolbox__row {
    padding-bottom: 35px;
    font-size: 0; }
    .toolbox__row .form-input {
      max-width: 135px;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px; }
    .toolbox__row .toolbox__select {
      max-width: 350px;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      margin-bottom: 10px; }
      @media only screen and (max-width: 991px) {
        .toolbox__row .toolbox__select {
          max-width: 100%; } }
      .toolbox__row .toolbox__select.is-mod {
        vertical-align: top;
        padding: 31px 0 0; }
    .toolbox__row .toolbox__span {
      width: 90px;
      padding: 0 10px;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px; }
  .toolbox .form-textarea {
    height: 247px; }
  .toolbox__span {
    font-size: 11px;
    color: #979BA3;
    text-transform: uppercase;
    font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif; }
  .toolbox__textarea {
    position: relative;
    padding-bottom: 20px; }
    .toolbox__textarea.is-big .form-textarea {
      height: 350px; }
      @media only screen and (max-width: 991px) {
        .toolbox__textarea.is-big .form-textarea {
          height: 470px; } }
    .toolbox__textarea .form-input {
      margin-bottom: 5px; }
  .toolbox__counter {
    font-size: 11px;
    color: #979BA3;
    text-transform: uppercase;
    font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
    position: absolute;
    bottom: 5px;
    right: 0; }
  .toolbox__range {
    padding: 44px 28px 10px;
    position: relative;
    max-width: 350px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0 40px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 991px) {
      .toolbox__range {
        max-width: 100%; } }
    .toolbox__range .icon {
      position: absolute;
      bottom: 0;
      font-size: 24px;
      cursor: pointer; }
    .toolbox__range .icon-minus {
      left: -2px; }
    .toolbox__range .icon-plus {
      right: -2px; }
  .toolbox__btn {
    padding: 0 23px; }
    @media only screen and (max-width: 767px) {
      .toolbox__btn {
        text-align: center; } }
  .toolbox__cols {
    margin: 0 -5px 8px;
    padding: 0 45px 0 0;
    font-size: 0;
    position: relative; }
    .toolbox__cols h3 {
      margin: 0; }
    .toolbox__cols .icon {
      position: absolute;
      top: -3px;
      right: 0;
      font-size: 34px;
      color: #D9DBE0;
      cursor: pointer; }
      .toolbox__cols .icon:hover {
        color: #A0A3AA; }
      .toolbox__cols .icon:active {
        color: #495769; }
  .toolbox__col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 767px) {
      .toolbox__col {
        width: 100%; } }
  .toolbox__heading {
    padding: 0 0 30px; }
    .toolbox__heading h5 {
      color: #858F97;
      font-family: 'HelveticaNeueW01-Thin', Arial, sans-serif; }
  .toolbox__title {
    font-size: 37px;
    color: #001936; }
  .toolbox__text {
    padding: 0 0 10px; }
    .toolbox__text h5 {
      color: #001936; }
    .toolbox__text p {
      font-size: 12px;
      color: #858F97; }
  .toolbox__graph {
    padding: 0 330px 0 0;
    position: relative;
    margin-bottom: 71px; }
    @media only screen and (max-width: 991px) {
      .toolbox__graph {
        padding: 0; } }
  .toolbox__img {
    position: absolute;
    top: 0;
    right: 60px;
    width: 222px;
    text-align: center;
    padding-bottom: 10px; }
    @media only screen and (max-width: 991px) {
      .toolbox__img {
        position: static; } }
    .toolbox__img img {
      margin-bottom: 20px; }
    .toolbox__img span {
      font-family: 'HelveticaNeueThin-Italic', Arial, sans-serif; }
  .toolbox__adds {
    padding: 0 20px 30px; }
    @media only screen and (max-width: 767px) {
      .toolbox__adds {
        text-align: center; } }
  .toolbox__add {
    display: inline-block;
    vertical-align: top;
    color: #495769;
    font-size: 18px;
    font-family: 'HelveticaNeueW01-UltLt', Arial, sans-serif;
    text-decoration: none !important;
    padding: 8px 0 8px 45px;
    position: relative;
    margin-right: 20px; }
    .toolbox__add:active {
      color: #001936; }
    .toolbox__add i {
      font-size: 40px;
      position: absolute;
      top: 0;
      left: 0; }

.introduction {
  padding: 26px 66px 26px 26px;
  background-color: #001936;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 12px;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .introduction {
      padding: 26px; } }
  .introduction .icon {
    position: absolute;
    right: 26px;
    top: 26px;
    color: #00E1BF;
    font-size: 34px;
    cursor: pointer; }
  .introduction__top {
    position: relative; }
  .introduction__text {
    max-width: 730px; }
  .introduction h2 {
    margin: 0 0 10px;
    color: #00E1BF;
    font-size: 37px; }
    @media only screen and (max-width: 767px) {
      .introduction h2 {
        font-size: 25px; } }
  .introduction p {
    font-size: 12px;
    color: #F5F6F8;
    margin: 0; }
    .introduction p a {
      color: #00E1BF; }

.parameters {
  margin: 0 -10px;
  max-width: 750px;
  position: relative;
  padding: 40px 0 0; }
  .parameters__graph {
    overflow: hidden;
    padding: 0 10px;
    max-width: 550px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .parameters__graph img {
      width: 100%; }
  .parameters__field {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .parameters__left {
    float: left;
    width: 25%; }
    @media only screen and (max-width: 767px) {
      .parameters__left {
        width: 100%;
        float: none; } }
    .parameters__left .parameters__field {
      margin-bottom: 187px; }
      @media only screen and (max-width: 991px) {
        .parameters__left .parameters__field {
          margin-bottom: 75px; } }
      @media only screen and (max-width: 767px) {
        .parameters__left .parameters__field {
          margin: 0 0 10px; } }
      .parameters__left .parameters__field:last-child {
        margin: 0; }
        @media only screen and (max-width: 767px) {
          .parameters__left .parameters__field:last-child {
            margin: 0 0 10px; } }
  .parameters__bottom {
    padding: 10px 0 30px;
    margin: 0 -10px; }
    @media only screen and (max-width: 767px) {
      .parameters__bottom {
        padding: 10px 0 20px; } }
    .parameters__bottom:after {
      clear: both;
      display: block;
      content: ""; }
    .parameters__bottom .parameters__field {
      width: 33.3%;
      float: left; }
      @media only screen and (max-width: 767px) {
        .parameters__bottom .parameters__field {
          margin: 0 0 10px;
          float: none;
          width: 100%; } }

.t-company__parameters .form-input {
  max-width: 40px;
  margin-right: 10px; }
.t-company__parameters p {
  display: inline-block;
  vertical-align: middle; }
  .t-company__parameters p span {
    color: #DF1338; }
.t-company .form-input {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle; }

.c-graph {
  max-width: 725px;
  padding-bottom: 20px; }
  .c-graph img {
    width: 100%; }

.competetion {
  max-width: 760px;
  padding-right: 400px;
  position: relative;
  min-height: 400px;
  padding-bottom: 20px; }
  @media only screen and (max-width: 991px) {
    .competetion {
      padding: 0; } }
  .competetion .c-graph {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 350px; }
    @media only screen and (max-width: 991px) {
      .competetion .c-graph {
        position: static;
        max-width: 100%; } }
  .competetion .radio-buttons {
    margin-bottom: 4px; }
    .competetion .radio-buttons:after {
      display: none; }
    .competetion .radio-buttons .jcf-label-active span {
      background-color: #495769; }
  .competetion__check {
    padding: 10px 0 20px; }

.wrap-up {
  padding-right: 470px;
  position: relative;
  max-width: 890px;
  min-height: 360px; }
  @media only screen and (max-width: 991px) {
    .wrap-up {
      padding: 0; } }
  .wrap-up__text {
    padding: 0 0 40px; }
  .wrap-up__img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 422px;
    padding: 0 0 20px;
    text-align: center; }
    @media only screen and (max-width: 991px) {
      .wrap-up__img {
        position: relative;
        max-width: 100%; } }
    .wrap-up__img div {
      display: inline-block;
      width: 420px; }
      @media only screen and (max-width: 991px) {
        .wrap-up__img div {
          width: 310px; } }
      @media only screen and (max-width: 767px) {
        .wrap-up__img div {
          width: 230px; } }
    .wrap-up__img img {
      width: 100%;
      max-width: 240px;
      float: right;
      margin-left: -180px;
      background-color: #00E1BF;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      -moz-box-shadow: 0.7px 0.7px 8px rgba(35, 34, 30, 0.3);
      -webkit-box-shadow: 0.7px 0.7px 8px rgba(35, 34, 30, 0.3);
      box-shadow: 0.7px 0.7px 8px rgba(35, 34, 30, 0.3); }
      @media only screen and (max-width: 991px) {
        .wrap-up__img img {
          max-width: 230px;
          margin-left: -220px; } }
      @media only screen and (max-width: 767px) {
        .wrap-up__img img {
          margin-left: -230px;
          max-width: 100%; } }
      .wrap-up__img img.is-one {
        z-index: 1; }
        @media only screen and (max-width: 767px) {
          .wrap-up__img img.is-one {
            margin-top: 30px; } }
      .wrap-up__img img.is-two {
        z-index: 2; }
        @media only screen and (max-width: 767px) {
          .wrap-up__img img.is-two {
            margin-top: 20px; } }
      .wrap-up__img img.is-three {
        z-index: 3; }
        @media only screen and (max-width: 991px) {
          .wrap-up__img img.is-three {
            margin-left: -170px; } }
        @media only screen and (max-width: 767px) {
          .wrap-up__img img.is-three {
            margin-left: -230px;
            margin-top: 10px; } }
      .wrap-up__img img.is-four {
        z-index: 4; }

.shopping__header {
  text-align: center;
  background: #102e43; }
.shopping__inner {
  padding: 29px 0;
  max-width: 730px;
  margin: 0 auto;
  background: url(../images/shopping.png) no-repeat 50% 10%;
  position: relative; }
  .shopping__inner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #041A35;
    opacity: 0.8; }
  .shopping__inner h1 {
    font-size: 0;
    margin: 0;
    position: relative;
    z-index: 1; }
    .shopping__inner h1 span {
      font-size: 54px;
      color: #F5F6F8;
      margin: 0 17px; }
      @media only screen and (max-width: 767px) {
        .shopping__inner h1 span {
          display: block;
          margin: 0 17px 15px;
          font-size: 27px; } }
    .shopping__inner h1 a {
      color: #F5F6F8;
      text-decoration: none !important;
      font-size: 18px;
      margin: 0 17px; }
      @media only screen and (max-width: 767px) {
        .shopping__inner h1 a {
          font-size: 14px; } }
      .shopping__inner h1 a:hover {
        color: #495769; }
      .shopping__inner h1 a:active {
        color: #00E1BF; }
.shopping__container {
  max-width: 1030px;
  padding: 50px 15px 30px;
  margin: 0 auto; }
  @media only screen and (max-width: 991px) {
    .shopping__container {
      max-width: 670px; } }
  @media only screen and (max-width: 767px) {
    .shopping__container {
      width: 350px; } }
  .shopping__container:after {
    clear: both;
    display: block;
    content: ""; }
.shopping__sidebar {
  max-width: 300px;
  width: 100%;
  float: right; }
  @media only screen and (max-width: 767px) {
    .shopping__sidebar {
      float: none; } }
  .shopping__sidebar h3 {
    color: #041A35;
    font-size: 18px;
    margin: 0; }
  .shopping__sidebar .client__form {
    margin-bottom: 12px; }
    .shopping__sidebar .client__form h3 {
      margin-bottom: 20px; }
    .shopping__sidebar .client__form .btn-sub {
      line-height: 38px; }
.shopping__content {
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .shopping__content {
      overflow: visible; } }
.shopping__item {
  width: 50%;
  padding: 0 20px 15px 0;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (max-width: 991px) {
    .shopping__item {
      width: 100%; } }
  .shopping__item .tile__img {
    height: 210px;
    position: relative;
    background-image: url(../images/tile-bg2.jpg); }
    .shopping__item .tile__img small {
      max-width: 220px; }
    .shopping__item .tile__img:hover .is-hide {
      opacity: 1;
      visibility: visible; }
    .shopping__item .tile__img:hover .is-show {
      opacity: 0;
      visibility: hidden; }
    .shopping__item .tile__img .is-hide {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .shopping__item .tile__img .is-show {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .shopping__item .tile__text {
    padding: 0;
    position: absolute;
    bottom: 15px;
    right: 20px;
    left: 20px; }
  .shopping__item .tile__info {
    font-size: 0.1px;
    text-align: justify;
    padding: 0 15px; }
    .shopping__item .tile__info:after {
      display: inline-block;
      content: "";
      width: 100%; }
    .shopping__item .tile__info div {
      margin: 0 5px; }

body.select-ttn .jcf-select, body.select-ttn .jcf-list {
  text-transform: none; }

.s-check {
  background: #fff;
  border-radius: 7px;
  padding: 5px 0 5px;
  margin-bottom: 12px; }
  .s-check__box {
    padding: 10px 20px;
    border-top: 1px solid #d9dfe6; }
    .s-check__box:first-child {
      border-top: none; }
  .s-check h3 {
    margin-bottom: 5px; }
  .s-check table {
    font-size: 10px;
    color: #041A35;
    font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
    width: 100%; }
    .s-check table td {
      padding: 2px 0; }
      .s-check table td.is-right {
        text-align: right; }

.s-start {
  margin-bottom: 15px; }
  .s-start__top {
    background-color: #EDEDED;
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 #FFF, inset 0 1px 0 rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 1px 0 #FFF, inset 0 1px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 1px 0 #FFF, inset 0 1px 0 rgba(0, 0, 0, 0.18);
    position: relative;
    height: 19px;
    margin: 0 0 -11px; }
  .s-start__inner {
    position: relative;
    padding: 2px 9px 0;
    overflow: hidden; }
    .s-start__inner:before {
      position: absolute;
      top: 0;
      left: 5px;
      right: 5px;
      height: 5px;
      background-color: #E8E8E8;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 4px 5px #000;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 4px 5px #000;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 4px 5px #000;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      content: ""; }
  .s-start__list {
    padding: 5px 6px;
    background-color: #FFF;
    background-image: -moz-linear-gradient(bottom, #FFF 0%, #F4F4F4 83%, #FFF 100%);
    background-image: -o-linear-gradient(bottom, #FFF 0%, #F4F4F4 83%, #FFF 100%);
    background-image: -webkit-linear-gradient(bottom, #FFF 0%, #F4F4F4 83%, #FFF 100%);
    background-image: linear-gradient(to top, #FFF 0%, #F4F4F4 83%, #FFF 100%);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), inset 0 1px 0 rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), inset 0 1px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), inset 0 1px 0 rgba(0, 0, 0, 0.17);
    position: relative; }
  .s-start__box {
    padding: 10px 20px;
    border-top: 1px solid #d9dfe6; }
    .s-start__box:first-child {
      border-top: none; }
  .s-start h3 {
    margin-bottom: 5px; }
  .s-start p {
    font-size: 10px;
    color: #041A35;
    font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
    margin: 0 0 5px; }
  .s-start table {
    font-size: 10px;
    color: #041A35;
    font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
    width: 100%; }
    .s-start table td {
      padding: 2px 0; }
      .s-start table td.is-right {
        text-align: right; }
  .s-start__check {
    padding: 15px 0 0; }
  .s-start img {
    max-width: 128px;
    opacity: 0.99;
    display: block;
    margin: 0 auto 23px; }
  .s-start__btns {
    margin: 0 -2px;
    font-size: 0.1px;
    text-align: justify; }
    .s-start__btns:after {
      display: inline-block;
      content: "";
      width: 100%; }
    .s-start__btns button {
      font-size: 10px;
      color: #A0A3AA;
      font-family: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
      text-align: center;
      padding: 8px 0 7px;
      border: none;
      border-radius: 7px;
      display: inline-block;
      vertical-align: top;
      outline: none;
      background-color: #F5F6F8;
      margin: 0 0 5px; }
      .s-start__btns button:hover {
        background-color: #A0A3AA;
        color: #fff; }
      .s-start__btns button:active {
        background-color: #495769;
        color: #fff; }
      .s-start__btns button.is-save {
        width: 96px; }
      .s-start__btns button.is-continue {
        width: 129px; }

.invalid {
  max-width: 788px;
  margin: 0 auto; }
  .invalid .error {
    margin: 10px; }
  .invalid h4 {
    color: #010101;
    font-size: 21px;
    line-height: 1.2;
    font-family: 'HelveticaNeueW82-Regula', Arial, sans-serif;
    margin: 10px; }

.error {
  font-size: 10px;
  font-family: 'HelveticaNeueW82-Regula', Arial, sans-serif;
  color: #FFF;
  background-color: #001936;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: -2.9px 4px 5px rgba(4, 26, 55, 0.19);
  -webkit-box-shadow: -2.9px 4px 5px rgba(4, 26, 55, 0.19);
  box-shadow: -2.9px 4px 5px rgba(4, 26, 55, 0.19);
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  padding: 12px 10px;
  line-height: 1;
  margin: 0 10px;
  position: relative; }
  .error:before {
    content: "";
    position: absolute; }
  .error_top:before, .error_top-left:before, .error_top-right:before, .error_bot:before, .error_bot-left:before, .error_bot-right:before {
    width: 18px;
    height: 5px; }
  .error_top:before, .error_top-left:before, .error_top-right:before {
    background: url(../images/e-top.png); }
  .error_bot:before, .error_bot-left:before, .error_bot-right:before {
    background: url(../images/e-bot.png); }
  .error_left:before, .error_right:before {
    width: 4px;
    height: 12px; }
  .error_left:before {
    background: url(../images/e-left.png); }
  .error_right:before {
    background: url(../images/e-right.png); }
  .error_top:before {
    bottom: 100%;
    left: 50%;
    margin-left: -9px; }
  .error_top-left:before {
    bottom: 100%;
    left: 9px; }
  .error_top-right:before {
    bottom: 100%;
    right: 9px; }
  .error_left:before {
    top: 50%;
    margin-top: -6px;
    right: 100%; }
  .error_right:before {
    top: 50%;
    left: 100%;
    margin-top: -6px; }
  .error_bot:before {
    top: 100%;
    left: 50%;
    margin-left: -9px; }
  .error_bot-left:before {
    top: 100%;
    left: 9px; }
  .error_bot-right:before {
    top: 100%;
    right: 9px; }

/*# sourceMappingURL=signup.css.map */