@font-face { font-family: 'HelveticaNeueW82-Regula'; src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.eot"); src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/helvetica/HelveticaNeueCyr-Roman.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HelveticaNeueThin-Italic'; src: url("../fonts/helvetica/helveticaneuecyr-thinitalic.eot"); src: url("../fonts/helvetica/helveticaneuecyr-thinitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-thinitalic.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-thinitalic.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-thinitalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HelveticaNeueW01-UltLt'; src: url("../fonts/helvetica/helveticaneuecyr-ultralight.eot"); src: url("../fonts/helvetica/helveticaneuecyr-ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-ultralight.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-ultralight.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-ultralight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HelveticaNeueW01-Lt'; src: url("../fonts/helvetica/HelveticaNeueCyr-Light.eot"); src: url("../fonts/helvetica/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/helvetica/HelveticaNeueCyr-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HelveticaNeueW01-Thin'; src: url("../fonts/helvetica/HelveticaNeueCyr-Thin.eot"); src: url("../fonts/helvetica/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/helvetica/HelveticaNeueCyr-Thin.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HelveticaNeueW01-65Medi'; src: url("../fonts/helvetica/HelveticaNeueCyr-Medium.eot"); src: url("../fonts/helvetica/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/helvetica/HelveticaNeueCyr-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: fontcustom; src: url("../fonts/fontcustom_8dda0a77d90b26519442e1b943e686cd.eot"); src: url("../fonts/fontcustom_8dda0a77d90b26519442e1b943e686cd.eot?#iefix") format("embedded-opentype"), url("../fonts/fontcustom_8dda0a77d90b26519442e1b943e686cd.woff") format("woff"), url("../fonts/fontcustom_8dda0a77d90b26519442e1b943e686cd.woff2") format("woff2"), url("../fonts/fontcustom_8dda0a77d90b26519442e1b943e686cd.ttf") format("truetype"), url("../fonts/fontcustom_8dda0a77d90b26519442e1b943e686cd.svgfontcustom_8dda0a77d90b26519442e1b943e686cd") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: icons-regular; src: url("../fonts/icons-regular.eot"); src: url("../fonts/icons-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/icons-regular.woff") format("woff"), url("../fonts/icons-regular.woff2") format("woff2"), url("../fonts/icons-regular.ttf") format("truetype"), url("../fonts/icons-regular.svgicons-regular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: icomoon; src: url("../fonts/icomoon.eot"); src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svgicomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.teleconference { background-color: rgba(0, 25, 54, 0.8); padding: 30px; }
@media only screen and (max-width: 640px) { .teleconference { padding: 30px 10px; } }
.teleconference .chars .chars__graph { text-align: left; }
.teleconference .chars .chars__graph img { max-width: 100%; }
.teleconference .project { position: relative; }
.teleconference .project .project__main { min-width: 200px; }
@media only screen and (max-width: 640px) { .teleconference .project .project__aside { width: 100%; min-width: 200px; } }
.teleconference .project__text { padding: 0 0 30px; }
.teleconference .project .h6 { font-size: 14px; color: #001936; }
.teleconference .project .icon-close-2 { position: absolute; right: 14px; top: 11px; font-size: 32px; color: #c4c7cd; text-decoration: none; -moz-transition: color 300ms; -o-transition: color 300ms; -webkit-transition: color 300ms; -ms-transition: color 300ms; transition: color 300ms; z-index: 10; }
.teleconference .project .icon-close-2:hover { color: #8EA0B2; }
.teleconference .project .icon-close-2:active { color: #606e80; }
.teleconference__section { max-width: 1150px; margin: 0 auto 15px; }
.teleconference__row { margin: 0 -6px 14px; }
.teleconference__row:after { clear: both; display: block; content: ""; }
.teleconference__col { width: 50%; padding: 6px; float: left; }
@media only screen and (max-width: 1170px) { .teleconference__col { float: none; margin: 0 auto; width: 100%; max-width: 540px; } }
.teleconference .tile__img { background: url(../images/tile-bg.jpg) no-repeat 50% 25%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.teleconference .tile__rate, .teleconference .tile__request { width: 33%; }
.teleconference .tile__workinprogress, .teleconference .tile__submit, .teleconference .tile__report { width: 34%; }
.teleconference .tile__report { background: #df1338; color: white; color: #FFF; border: none; box-sizing: border-box; padding: 0 15px; line-height: 42px; text-align: center; float: left; outline: none; }
.teleconference .tile__workinprogress, .teleconference .tile__submit, .teleconference .tile__rate, .teleconference .tile__request, .teleconference .tile__report { font-size: 12px; cursor: pointer; }
@media only screen and (max-width: 640px) { .teleconference .tile__workinprogress, .teleconference .tile__submit, .teleconference .tile__rate, .teleconference .tile__request, .teleconference .tile__report { width: 100%; } }
@media only screen and (max-width: 640px) { .teleconference .tile__request { border-bottom: 1px solid #d9dfe6; -webkit-border-radius: 0; border-radius: 0; } }
@media only screen and (max-width: 640px) { .teleconference .tile__info div { margin: 0 10px 0 0; } }
.teleconference__block { background-color: #f5f6f8; border-radius: 7px; padding: 24px 30px 10px; }
@media only screen and (max-width: 640px) { .teleconference__block { padding: 9px 15px 1px; } }
.teleconference__field { padding: 35px; background: #e9ecf2; border-radius: 7px; overflow: hidden; position: relative; margin-bottom: 14px; }
@media only screen and (max-width: 640px) { .teleconference__field { padding: 15px; } }
.teleconference__field .icon-close-2 { position: absolute; right: 10px; top: 10px; font-size: 32px; color: #c4c7cd; text-decoration: none; -moz-transition: color 300ms; -o-transition: color 300ms; -webkit-transition: color 300ms; -ms-transition: color 300ms; transition: color 300ms; z-index: 10; }
.teleconference__field .icon-close-2:hover { color: #0c283f; }
.teleconference__field .icon-close-2:active { color: #606e80; }
.teleconference__field img.is-bg { position: absolute; top: 10px; right: -393px; }
.teleconference__field .s-start { max-width: 300px; position: relative; z-index: 5; float: left; margin: 0 40px 0 0; }
@media only screen and (max-width: 980px) { .teleconference__field .s-start { margin: 30px -10px 0; } }
.teleconference__field .s-start__list { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22), inset 0 1px 0 rgba(0, 0, 0, 0.17); }
.teleconference__info { padding: 40px 0 0; }
@media only screen and (max-width: 980px) { .teleconference__info { clear: both; } }
.teleconference__info.is-right { float: right; width: 60%; padding: 0; }
@media only screen and (max-width: 980px) { .teleconference__info.is-right { clear: both; width: 100%; } }
.teleconference__info.is-small { float: right; width: 40%; padding: 0; }
@media only screen and (max-width: 980px) { .teleconference__info.is-small { clear: both; width: 100%; } }

.tel-submenu { background-color: #f5f6f8; border-radius: 7px; padding: 18px 50px 18px 45px; }
.tel-submenu:after { clear: both; content: ""; display: block; }
.tel-submenu ul { float: left; margin: 0; padding: 0; }
.tel-submenu li { display: inline-block; vertical-align: top; padding: 1px 0; margin: 0 40px 0 0; }
.tel-submenu li a { color: #001936; font-size: 25px; line-height: 1; font-family: 'HelveticaNeueW01-UltLt'; text-decoration: none; }
.tel-submenu li a:hover, .tel-submenu li a.is-active { color: #00e1bf; }
.tel-submenu li a i { font-style: normal; font-size: 11px; color: white; font-family: 'HelveticaNeueW01-65Medi'; background-color: #df1338; border-radius: 7px; display: inline-block; vertical-align: top; margin: 7px 0 0 10px; line-height: 13px; padding: 1px 6px 0 5px; }
.tel-submenu .tel-btn { float: right; }

.tel-btn { display: inline-block; border-radius: 6px; background: #E9ECF2; padding: 4px 25px; text-decoration: none; vertical-align: middle; font-size: 14px; font-family: 'HelveticaNeueW01-Lt'; text-decoration: none; }
.tel-btn:hover { text-decoration: none; color: #fff; background-color: #495769; }
.tel-btn:active { text-decoration: none; color: #fff; background-color: #0c283f; }

.tel-info { position: relative; z-index: 5; overflow: hidden; }
.tel-info .form-buttons { margin: 0; font-size: 0; margin: 0 0 -11px; }
.tel-info .form-buttons .button { width: 147px; margin: 0 11px 11px 0; }
.tel-info h2 { margin: 0 20px 5px 0; }
.tel-info h2.is-bigger { font-size: 37px; }
.tel-info h4 { margin: 0 0 10px; }
.tel-info h4, .tel-info p, .tel-info h2, .tel-info h6 { color: #495769; }
.tel-info h6 { margin-bottom: 20px; }
.tel-info p { font-size: 12px; margin: 0 0 25px; }
.tel-info p span { color: #001936; }
.tel-info__bottom:after { clear: both; display: block; content: ""; }
.tel-info__bottom ul { padding: 0; margin: 0; list-style-type: none; }
.tel-info__bottom ul li { display: inline-block; font-size: 12px; color: #001936; margin: 0 20px 0 0; }
.tel-info__bottom ul li a { color: #001936; text-decoration: none; }
.tel-info__left { width: 60%; padding-right: 20px; }
@media only screen and (max-width: 640px) { .tel-info__left { width: 100%; padding: 10px 0; } }
.tel-info__right { width: 40%; padding: 0 0 0 8px; }
@media only screen and (max-width: 640px) { .tel-info__right { width: 100%; padding: 10px 0; } }
.tel-info__left, .tel-info__right { float: left; }
@media only screen and (max-width: 980px) { .tel-info__left, .tel-info__right { width: 100%; padding: 10px 0; } }
.tel-info .con-meeting__info { font-size: 0; max-width: 670px; }
.tel-info .con-meeting__red li i { float: left; }
.tel-info .con-meeting__red li i.is-dollar { font-size: 16px; font-style: normal; font-family: 'HelveticaNeueW01-65Medi'; }
.tel-info .con-meeting__red li span { display: block; overflow: hidden; }
.tel-info .con-meeting__red.is-green { background-color: #00e1bf; }
.tel-info .con-meeting__red.is-white { background-color: white; }
.tel-info .con-meeting__red.is-white li { color: #495769; }
.tel-info__field { padding: 8px 0 0 0; }
.tel-info .con-btn_big { padding: 7px 35px 8px; }
.tel-info .con-btn_big.is-red { background-color: #df1338; }
.tel-info .con-meeting__textarea { margin-bottom: 17px; }
.tel-info .con-meeting__textarea .form-textarea { height: 101px; }
.tel-info .con-meeting__send { margin-bottom: 0; }
.tel-info__row { margin: 0 -13px; }
@media only screen and (max-width: 980px) { .tel-info__row { margin: 0; } }
.tel-info__calendar { width: 27%; }
.tel-info__time { width: 34%; font-size: 0; }
.tel-info__time .con-meeting__red { width: 100%; }
.tel-info__area { width: 39%; }
.tel-info__calendar, .tel-info__time, .tel-info__area { float: left; padding: 0 13px; }
@media only screen and (max-width: 980px) { .tel-info__calendar, .tel-info__time, .tel-info__area { width: 100%; padding: 10px 0; } }
.tel-info .tel-info__title { font-size: 39px; margin-bottom: 35px; }

.tel-avatar { width: 40%; float: left; text-align: center; position: relative; padding: 105px 0 100px; }
@media only screen and (max-width: 640px) { .tel-avatar { width: 100%; } }
.tel-avatar.is-center { width: 60%; }
@media only screen and (max-width: 640px) { .tel-avatar.is-center { width: 100%; } }
.tel-avatar__inner { display: inline-block; width: 115px; height: 115px; position: relative; margin: 0 0 0 -50px; box-shadow: 0 0 15px 0px #fff, 0 0 0 25px #c5ced6, 0 0 40px 25px rgba(255, 255, 255, 0.4), 0 0 0 50px #cfd5dc, 0 0 0 80px #d9dee5, 0 0 0 110px #dde2e8, 0 0 0 160px #e3e7ed; -webkit-border-radius: 50%; border-radius: 50%; }
@media only screen and (max-width: 980px) { .tel-avatar__inner { margin: 0; } }
.tel-avatar__inner img { width: 100%; height: 100%; position: relative; z-index: 1; -webkit-border-radius: 50%; border-radius: 50%; }

.tel-time { position: relative; padding: 0 0 0 66px; background-color: white; border-radius: 7px; margin-bottom: 5px; }
.tel-time.is-close { padding: 0 40px 0 20px; }
.tel-time.is-close .tel-time__btns { display: none; }
.tel-time .icon-close-2 { font-size: 20px; }
.tel-time__btns { position: absolute; top: 0; left: 0; bottom: 0; width: 49px; border-radius: 7px 0 0 7px; overflow: hidden; }
.tel-time__submit, .tel-time__cancel { position: absolute; left: 0; right: 0; border: none; outline: none; width: 100%; color: #fff; font-size: 30px; }
.tel-time__submit i, .tel-time__cancel i { position: absolute; top: 50%; left: 50%; margin: -15px 0 0 -15px; }
.tel-time__submit { top: 0; bottom: 50%; background-color: #00e1bf; }
.tel-time__cancel { top: 50%; bottom: 0; background-color: #df1338; }
.tel-time__info:after { display: block; clear: both; content: ""; }
.tel-time__col { width: 50%; float: left; padding: 14px 0 14px 25px; }
.tel-time__col .icon-calendar { font-size: 18px; position: absolute; top: 0; right: 0; }
.tel-time__title, .tel-time__text, .tel-time small { display: block; font-family: 'HelveticaNeueW01-UltLt'; color: #495769; }
.tel-time__title { font-size: 14px; display: inline-block; line-height: 1.4; position: relative; padding: 0 20px 0 0; }
.tel-time__title:before { content: ""; position: absolute; top: 1px; left: -22px; }
.tel-time__title.is-sun:before { width: 14px; height: 14px; background: url(../images/sun.png) no-repeat center center; }
.tel-time__title.is-moon:before { width: 11px; height: 14px; background: url(../images/moon.png) no-repeat center center; }
.tel-time small { font-size: 12px; line-height: 22px; }
.tel-time__text { font-size: 12px; line-height: 22px; }
.tel-time time { font-size: 21px; line-height: 24px; color: #495769; display: block; font-family: 'HelveticaNeueW01-Lt'; }
.tel-time .jcf-select { height: 24px; width: 75px; }
.tel-time .jcf-select .jcf-select-opener:before { margin: 10px 0 0 4px; }
.tel-time .jcf-select .jcf-select-text { font-size: 14px; color: #495769; font-family: 'HelveticaNeueW01-UltLt'; margin: 3px 28px 3px 8px; }

.tel-area__textarea { position: relative; margin-bottom: 11px; }
.tel-area__textarea .form-textarea { background-color: white; height: auto; border-radius: 7px; height: 211px; color: #001936; }
.tel-area__textarea span { position: absolute; bottom: 10px; right: 14px; font-size: 12px; font-family: "HelveticaNeueW01-65Medi",Arial,sans-serif; color: #A0A3AA; }
.tel-area__btns { text-align: right; font-size: 0; margin: 0 0 -11px; }
.tel-area__btns .button { width: 117px; margin: 0 0 11px 11px; }

.tel-calendar img { max-width: 100%; }

.modal-dialog.delete-projects.modal-tel .modal-content { padding: 25px 28px 20px 26px; }
.modal-dialog.delete-projects.modal-tel .modal-header { padding-right: 10px; }
.modal-dialog.delete-projects.modal-tel .modal-subtitle { font-size: 35px; line-height: 1.2; color: #001936; margin: 0 0 10px; }
.modal-dialog.delete-projects.modal-tel .modal-text p { font-size: 14px; color: #001936; margin-bottom: 12px; }

.modal-header b { font-weight: normal; font-family: 'HelveticaNeueW01-65Medi'; }

.modal-row b, .modal-row span { display: block; }

.modal-col { width: 50%; float: left; padding: 10px 0; }

.modal-field { margin-bottom: 10px; }
.modal-field-row { margin: 0 -5px; }
.modal-field_col { width: 50%; padding: 0 5px; float: left; }
.modal-field__label { font-size: 14px; font-weight: normal; color: #858F97; font-family: "HelveticaNeueW82-Regula", Arial, Helvetica, sans-serif; margin-bottom: 15px; }
.modal-field small { font-size: 10px; font-weight: normal; color: #858F97; font-family: "HelveticaNeueW82-Regula", Arial, Helvetica, sans-serif; margin-bottom: 15px; }
