.report__project {
	margin: 30px 0 40px;
	padding: 0 32px; 
	@include breakpoint(640px){
		padding: 0 27px; 
	}
	@include breakpoint(320px){
		padding: 0 15px; 
	}
}
.project {
	display: table;
	width: 100%;
	max-width: 1330px;
	margin: 0 auto;
	border-radius: 7px;  
	@include breakpoint(640px){
		display: block;
	}
}
.project__aside {
	position: relative;
	display: table-cell;
	vertical-align: top;
	width: 320px;
	padding: 55px 30px; 
	background: #e9ecf2;
	border-radius: 0 7px 7px 0;
	@include breakpoint(640px){
		display: block;
		width: 100%; 
		border-radius: 0 0 7px 7px;
	}
}
.project__main {
	position: relative;
	display: table-cell;
	vertical-align: top;
	border-radius: 7px 0 0 7px;
	background: #f5f6f8; 
	@include breakpoint(640px){
		display: block;
		width: 100%; 
		border-radius: 7px 7px 0 0;
	}
}
.project__content {
	padding: 55px 45px; 
	border-radius: 7px 0 0 7px;
	background: #f5f6f8;
	@include breakpoint(640px){
		border-radius: 7px 7px 0 0;
		padding: 35px 25px; 
	}
	article {
		margin-bottom: 70px;  
		font-size: 12px;
		color: #A0A3AA; 
		line-height: 1.2;
		h3 {
			font-size: 23px;
			margin: 0 0 35px; 
		}
	}
}
.project__footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;  
	border-radius: 0 0 0 7px;
	padding: 35px 45px; 
	background: #4b596b;
	color: #fff; 
	*zoom: 1;
	@include breakpoint(1024px){
		display: none;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.user {
		float: left;
		margin-right: 45px 
	}
}
.user {
	*zoom: 1;
	max-width: 320px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.user__img {
		float: left;
		width: 89px;
		height: 89px;
		margin-right: 14px; 
		border-radius: 50%;
		font-size: 0;
		img {
			border-radius: 50%;
			width: 100%; 	
		} 
	}
	.user__info {
		overflow: hidden;
		h4 {
			font-size: 23px;
			margin-top: 0; 
		}
	}
	.user__list {
		list-style-type: none;
		padding-left: 0;
		li {
			color: #183752;
			font-size: 10px;
			margin-bottom: 5px;
			span {
				display: inline-block;
				vertical-align: middle; 
				color: #5b5c5c;
				font-size: 16px;
			}
		}
	}
}
.user_light {
	.user__info {
		h4 {
			color: #fff;
		}
	}
	.user__list {
		li {
			color: #fff;
			span {
				color: #1dad9f;
			}
		}
	}
}
.project__footer-left {
	font-size: 12px;
	h4 {
		color: #fff;
		margin-top: 0;
	}
}
.project__help {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #c4c7cd;
	text-align: center;
	line-height: 25px;
	color: #c4c7cd;
	text-decoration: none;
	-moz-transition: color 300ms, border-color 300ms;
	-o-transition: color 300ms, border-color 300ms;
	-webkit-transition: color 300ms, border-color 300ms;
	-ms-transition: color 300ms, border-color 300ms;
	transition: color 300ms, border-color 300ms;
	&:hover {
		color: #8ea0b2;
		border-color: #8ea0b2;
		text-decoration: none;
	}
	&:active {
		color: #606e80;
		border-color: #606e80;
	}
}
.chars {
	list-style-type: none;
	padding-left: 0;
	.chars__item {
		padding-left: 25px; 
		&.is-prof {
			display: none;
			@include breakpoint(1024px) {
				display: block;
			}
		}
	}
	.chars__topper {
		margin-bottom: 20px;
	}
	.chars__title {
		position: relative;
		h5 {
			margin: 0 0 5px; 
			font: 16px $font-ultra-light;
		}
		span {
			position: absolute;
			top: 0px;
			left: -25px;
			color: #2b4059;
			font-size: 18px;
			&.icon-tag {
				transform: scaleX(-1);
			}
			img {
				max-width: 13px;
				border-radius: 50%;
				margin: 3px 0 0 2px;
				display: block;
			}			
		}
	}
	.chars__small {
		font-size: 10px;
		color: #A0A3AA;
		line-height: 1.2;
		margin-top: 5px;
	}
	.chars__subtitle {
		color: #001936;
		font-size: 10px;
		font-weight: bold;
	}
	.chars__name {
		margin-bottom: 7px;
		color: #8993a0;
		font: 16px $font-ultra-light;
	}
	.chars__btns {
		margin-bottom: 25px;
	}
	.chars__graph {
		margin-bottom: 35px;
		img {
			width: 100%; 
		}
	}
}
.btn-chars {
	height: 14px;
	border: 1px solid #95acbc;
	font: 10px/11px $font-neue-medium; 
	color: #95acbc;
	border-radius: 15px;
	padding: 0 15px; 
}
.project__btn {
	text-align: center;
	.button {
		height: 42px;
		font-size: 20px;
		font-family: $font-neue-thin;
	}
}