#wrapper {
	&.is-bg {
		// background: url(../images/bg-man2.jpg) no-repeat top center;
		// -webkit-background-size: cover;
		// 		 -o-background-size: cover;
		// 				background-size: cover;
		#main {
			background: url(../images/bg-man3.jpg) no-repeat bottom center;
			-webkit-background-size: cover;
					 -o-background-size: cover;
							background-size: cover;
		}
	}

	&.is-bg_mod {
		background: url(../images/bg-man1.jpg) no-repeat top center;
		-webkit-background-size: cover;
				 -o-background-size: cover;
						background-size: cover;
	}
	&.bg-term {
		background-color: #0C283F;
		#main {
			padding: 65px 0;
		}
		.term {
			max-width: 660px;
			background: #fff;
			margin: 0 auto;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			overflow: auto;
			position: relative;
			@include breakpoint($mobile) {
				-moz-border-radius: 0;
				-webkit-border-radius: 0;
				border-radius: 0;
			    max-width: 320px;
			}
			&__text {				
				padding: 40px 50px 10px 50px;
				@include breakpoint($mobile) {
					padding: 30px 35px 10px 25px;
				}	
			}
			.icon-close-2 {
				font-size: 40px;
				position: absolute;
				top: 15px;
				right: 20px;
				color: #001936;
				text-decoration: none;
				z-index: 10;
				@include breakpoint($mobile) {
					font-size: 30px;
					right: 15px;
				}
				&:hover {
					color: #A0A3AA;
				}
				&:active {
					color: #00E1BF;
				}
			}
			&__inner {			
				h3 {
					margin: 0 0 30px;
					font-size: 30px;
					font-family: $font-neue-thin;
					color: #979BA3;
					@include breakpoint($mobile) {
						font-size: 25px;
						margin: 0 0 20px;
					}
				}
				h4 {
					color: #979BA3;
					font-family: $font-neue-thin;
					margin: 0 0 10px;
					font-size: 14px;
				}
				p {
					margin: 0 0 30px;
					color: #979BA3;
					font-size: 12px;
					@include breakpoint($mobile) {
						margin: 0 0 20px;
					}
				}
			}
		}
	}
}

.s-form {
	max-width: 281px;
	margin: 0 auto;
}

.s-field {
	padding: 33px 28px 19px;
	background-color: #FFF;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0 1px 2px rgba(35, 34, 30, 0.35);
	-webkit-box-shadow: 0 1px 2px rgba(35, 34, 30, 0.35);
	box-shadow: 0 1px 2px rgba(35, 34, 30, 0.35);
	margin: 0 0 16px;
	
	p {
		font-size: 18px;
		font-family: $font-neue-thin;
		text-align: center;
		line-height: 1.2;
		margin-bottom: 20px;
		color: #001936;
	}

	input, .s-btn {
		margin-bottom: 10px;
		width: 100%;
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
						box-sizing: border-box;
	}

	.fieldcheck {
		margin: 0;
		display: inline-block;
		vertical-align: top;
	}

	.s-link {
		font-size: 12px;
		font-family: $font-neue-thin;
		color: #0C283F;
		padding: 2px 0;
		float: right;
	}
}

.s-btn {
	color: #fff;
	font-size: 13px;
	line-height: 1;
	width: 100%;
	padding: 9px;
	border: none;
	cursor: pointer;
	outline: none;
	background-color: #0C283F;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	&:hover {
		background: #00e1bf;
		color: #fff;
	}
}

.s-text {
	color: #001936;
	font-size: 16px;
	text-align: center;
	font-family: $font-neue-thin;
	a {
		text-decoration: underline;
		color: #001936;
		
		&:hover {
			text-decoration: none;
		}
	}		
}

.s-title {
	font-size: 30px;
	color: #001936;
	font-family: $font-neue-thin;
	text-align: center;
	display: block;
	padding: 0 0 20px;
}

.sign {

	&__box {
		max-width: 220px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	&__icon {
		margin: 0 0 25px;
		position: relative;
		font-size: 85px;
		display: inline-block;
		color: #fff;
	}

	&__title {
		font-family: $font-ultra-light;
		font-size: 40px;
		color: #FEFEFE;
		text-transform: uppercase;
		text-align: center;
		line-height: 1;
		display: block;
		margin-bottom: 15px;
		@include breakpoint($mobile){
			font-size: 22px;
		}
	}

	p {
		font-family: $font-neue-thin;
		font-size: 14px;
		line-height: 1.2;
		color: #FEFEFE;
		text-align: justify;
		-moz-text-align-last: center;
		text-align-last: center;
		margin-bottom: 29px;
		@include breakpoint($mobile){
			font-size: 12px;
			text-align: center;
		}
	}

	&__arr {
		display: inline-block;
		margin: 0 auto;
		text-decoration: none !important;
		font-size: 50px;
		color: #fff;
	}
}


.signup {
	text-align: center;
	
	h1 {
		font-size: 39px;
		color: #BFCCD5;
		@include breakpoint($mobile){
			font-size: 25px;
		}
	}
	
	form {
		padding: 10px 0 0;
	}

	p {
		font-family: $font-neue-medium;
		font-size: 14px;
		color: #BFCCD5;
		padding: 0 5px;
	}
	&__icon {
		display: inline-block;
		color: #fff;
		margin: 0 auto 15px;
		font-size: 174px;
	}
	&__to {
		position: absolute;
		top: 350px;
		@include breakpoint($mobile){
			position: static;
			display: inline-block;
		}
		&.is-left {
			left: 60px;
		}
		&.is-right {
			right: 60px;
		}
		a {
			font-size: 56px;
			color: #fff;
			text-decoration: none !important;
			&.icon-left {
				float: left;
			}
			&.icon-right {
				float: right;
			}
			&.icon__deer, &.icon__eagle {
				font-size: 43px;
				display: inline-block;
				vertical-align: top;
				margin: 6px 0 0;
			}
		}
	}
	&__form {
		max-width: 280px;
		margin: 0 auto 10px;
	}
	
	&__field {
		margin-bottom: 10px;
	}

	.s-btn {
		font-size: 16px;
		color: #F5F6F8;
		background-color: #183E4E;
		padding: 11px;
		&:hover {
			background: #00e1bf;
			color: #fff;
		}
	}
	
	.form-input {
		font-size: 14px;
		padding: 8px 20px;
		text-align: center;
	}

	.fieldcheck {
		margin: 0;
		text-align: left;
		padding: 10px 0;
		
		label {
			display: inline-block;
			vertical-align: top;
			position: relative;
		}

		span, a {
			color: #BFCCD5;
		}

		a {
			font-size: 12px;
			font-family: $font-neue-thin;
			text-decoration: underline;
			display: inline-block;
			vertical-align: top;
			padding: 2px 0 0;
		}
	}
}

.s-select {
	position: relative;
	cursor: pointer;
	font-family: $font-neue-medium;
	font-size: 12px;
	color: #fff;
	&.is-active {
		.s-select__text {
			-webkit-border-radius: 2px 2px 0 0;
			        border-radius: 2px 2px 0 0;
		}
	}
	select {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.s-select__text {
	position: relative;
	display: block;
	padding: 0 30px 0 13px;
	height: 36px;
	line-height: 36px;
	background-color: #183D4D;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 2;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	&:after {
		content: "";
		position: absolute;
		right: 18px;
		top: 50%;
		margin-top: -2px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 5px 4px 0 4px;
		border-color: #fff transparent transparent transparent;
	}
}

.s-select__list {
	position: absolute;
	display: none;
	left: 0;
	right: 0;
	top: 100%;
	z-index: 100;
	border-top: 0;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #183D4D;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 0 0 2px 2px;
	        border-radius: 0 0 2px 2px;
	li {
		padding: 5px 11px;
		cursor: pointer;
		line-height: 1;
		&:hover {
			background: #717791;
			color: white;
		}
	}
}

input.s-input {
	font-family: $font-neue-medium;
	font-size: 12px;
	color: #fff;
	outline: none;
	background-color: #183D4D;
	padding: 0 12px;
	height: 36px;
	border: 1px solid #183D4D;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	
	&.is-valid {
		border-color: #00E1BF;
	}
	&.is-error {
		border-color: #DF1338;
	}
}

input.s-input {

	&:-moz-placeholder {
		color: #fff;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: #fff;
		opacity: 1;
	}

	&::-webkit-input-placeholder {
		color: #fff;
		opacity: 1;
	}

}
.s-email {
	text-align: center;
	padding: 0 15px;
	
	@include breakpoint($mobile) {
		max-width: 260px;
		margin: 0 auto;
	}

	&__form {
		max-width: 640px;
		margin: 0 auto;
		text-align: left;
		padding: 15px 0;
	}

	h2, p, h5 {
		color: #BFCCD5;
	}
	h2 {
		@include breakpoint($mobile) {
			font-size: 25px;
		}
	}
	p {
		@include breakpoint($mobile) {
			font-size: 14px;
		}
	}
	h5 {
		font-family: $font-neue-thin;
		@include breakpoint($mobile) {
			text-align: center;
			font-size: 25px;	
		}
	}
	&__box {
		padding: 10px 0 0;
	}
	&__row {
		margin: 0 -5px;
		&:after {
			display: block;
			clear: both;
			content: "";
		}
	}
	&__medium, &__small {
		float: left;
		padding: 0 5px 10px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	&__medium {
		width: 36%;

		@include breakpoint($mobile) {
			width: 100%;	
		}
	}
	&__small {
		width: 28%;

		@include breakpoint($mobile) {
			width: 100%;	
		}
	}
	&__btn {
		width: 36%;
		padding: 20px 5px 10px;
		clear: both;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		@include breakpoint($mobile) {
			width: 100%;	
		}
	}
	&__bottom {
		clear: both;
		
		&:after {
			display: block;
			clear: both;
			content: "";
		}
	}
	&__add {
		float: left;
		font-size: 14px;
		color: #417D7B;
		font-family: $font-ultra-light;
		padding: 0 0 0 25px;
		line-height: 18px;
		position: relative;
		margin-bottom: 10px;
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
		&:hover {
			color: #495769;
		}
		&:active {
			color: #001936;
		}
		i {
			position: absolute;
			top: -2px;
			left: -2px;
			font-size: 21px;

		}
	}
	.fieldcheck {
		float: right;
		margin-bottom: 10px;
		@include breakpoint($mobile) {
			float: none;
			margin: 0 0 10px;
		}
		label {
			margin: 0;
		}
		span {
			color: #BFCCD5;
			font-family: $font-neue-thin;
		}		
		.checkbox-visual {
			background-color: #183E4C;
		}
		input:checked + .checkbox-visual {
			  background: #183E4C url(../images/checkbox.png) no-repeat 50% 50%;
		}
	}
}

.e-btn {
	font-size: 16px;
	color: #fff;
	font-family: $font-neue-thin;
	background-color: #00E1BF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: none;
	outline: none;
	width: 100%;
	padding: 9px 10px 8px;
	position: relative;
	&:hover{
		background-color: #183E4C;
		color: #fff;
	}
	&:active{
		background-color: #001936;
	}
}

.s-success {
	max-width: 520px;
	margin: 0 auto; 
	text-align: center;
	@include breakpoint($mobile) {
		max-width: 270px;
	}
	h2 {
		font-size: 60px;
		color: #BFCCD5;
		margin-bottom: 20px;
		@include breakpoint($mobile) {
			font-size: 30px;
		}
	}
	p {
		margin: 0;
		color: #BFCCD5;
		@include breakpoint($mobile) {
			font-size: 15px;
		}
		br {
			@include breakpoint($mobile) {
				display: none;
			}
		}
	}
	&__btns {
		padding: 45px 0 0;
	}
	&__btn {
		font-size: 18px;
		color: #F5F6F8;
		font-family: $font-neue-thin;
		line-height: 40px;
		width: 100%;
		max-width: 220px;
		border: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		background-color: #183E4E;
		outline: none;
		position: relative;
		&:active{
			background-color: #001936;
		}
	}
}

.tutorial {
	max-width: 640px;
	padding: 0 40px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	@include breakpoint($mobile){
		max-width: 280px;
		padding: 0;
	}
	&__img {
		width: 375px;
		height: 375px;
		margin: 0 auto;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		@include breakpoint($mobile){
			width: 192px;
			height: 192px;
		}
		img {
			width: 100%;
		}
	}

	h2 {
		font-size: 66px;
		color: #BFCCD5;

		@include breakpoint($mobile){
			font-size: 25px;
		}
	}
	h3 {
		font-size: 50px;
		color: #BFCCD5;

		@include breakpoint($mobile){
			font-size: 25px;
		}
	}

	p {
		font-size: 20px;
		color: #BFCCD5;

		@include breakpoint($mobile){
			font-size: 14px;
		}
		br {
			@include breakpoint($mobile){
				display: none;
			}
		}
	}
	&__text {
		p {
			font-size: 16px;
			@include breakpoint($mobile){
				font-size: 14px;
			}
		}
	}
	&__arrs {
		.icon {
			font-size: 52px;
			color: #fff;
			position: absolute;
			top: 167px;
			text-decoration: none !important;
			@include breakpoint($mobile){
				font-size: 34px;
				top: 84px;
			}
			&.is-disable {
				display: none;
			}
			&-left {
				left: 0;
			}
			&-right {
				right: 0;
			}
		}
	}
}

.client {
	max-width: 680px;
	margin: 0 auto;
	font-size: 0;
	@include breakpoint($mobile){
		max-width: 320px;
	}
	&:after {
		display: block;
		clear: both;
		content: "";
	}
	&__info {
		@include breakpoint($mobile){
			padding: 0 20px 20px;
		}
	}
	&__box {
		width: 50%;
		padding: 0 20px;
		float: right;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		@include breakpoint($mobile){
			width: 100%;
			padding: 0 10px;
		}
	}
	&__form {
		padding: 20px;
		background: #fff;
		margin: 0 0 15px;
		-webkit-border-radius: 7px;
		        border-radius: 7px;
		h5 {
			color: #041A35;
			margin: 0 0 20px;
		}
		.form-input {
			padding-left: 37px;
		}
		.jcf-select .jcf-select-text {
			margin-left: 37px;
		}
		.icon {
			position: absolute;
			top: 50%;
			&-creditcard, &-mail {
				font-size: 22px;
				margin-top: -12px;
				left: 8px;
			}
			&-dk-visa {
				background: url(../images/dk-visa.png) no-repeat center center;
				width: 33px;
				height: 20px;
				margin-top: -10px;
				right: 11px;
			}
			&-calendar {
				font-size: 18px;
				margin-top: -9px;
				left: 16px;
			}
			&-lock {
				font-size: 16px;
				margin-top: -8px;
				left: 13px;
			}
			&-world {
				font-size: 16px;
				margin-top: -8px;
				left: 11px;
				z-index: 2;
			}
		}
	}
	&__field {
		margin-bottom: 11px;
		position: relative;
		&.is-card {
			.form-input {
				padding-right: 50px;
			}
		}
	}
	&__row {
		margin: 0 -6px 11px;
	}
	&__date {
		width: 56%;
		padding: 0 6px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	&__cvc {
		width: 44%;
		padding: 0 6px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	&__btn {
		padding: 10px 0 0;
	}
	small {
		text-align: center;
		font-size: 12px;
		color: #BFCCD5;
		display: block;
		font-family: $font-neue-thin;
	}
	h2 {
		color: #BFCCD5;
		font-size: 40px;
		margin-top: 10px;
		@include breakpoint($mobile){
			font-size: 25px;
		}
	}
	p {
		font-size: 16px;
		color: #BFCCD5;
		font-family: $font-neue-thin;
		@include breakpoint($mobile){
			font-size: 14px;
		}
	}
	&__list {
		font-size: 20px;
		color: #BFCCD5;
		font-family: $font-neue-thin;
		list-style-type: none;
		padding: 10px 0 0;
		@include breakpoint($mobile){
			font-size: 15px;
		}
		li {
			position: relative;
			padding: 0 0 0 25px;
			&:before {
				content: "";
				position: absolute;
				top: 9px;
				left: 0;
				width: 8px;
				height: 8px;
				background-color: #FFF;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
			}
		}
	}
}

.btn-sub {
	color: #F5F6F8;
	font-size: 20px;
	font-family: $font-neue-thin;
	border: none;
	outline: none;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background-color: #00E1BF;
	line-height: 46px;
	width: 100%;
	&:hover {
		background-color: #183E4C;
	}
	&:active {
		background-color: #0C283F;
	}
}

.sign-up {
	padding: 100px 0;
	@include breakpoint($mobile){
		padding: 30px 0;
	}
}


.c-sign {
	padding-top: 180px;
	padding-bottom: 180px;
	@include breakpoint($mobile){
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
//scroll
.js-scroll {
	width: 100%;
	height: 800px;
	overflow: auto;
}

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 4px;
	height: 100%;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	position: relative;
}

.jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: #041A35;
}

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled {
	cursor: default;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	float: left;
	height: 100%;
}

* html .jspCorner {
	margin: 0 -3px 0 0;
}

//report
body {

	&.is-report {
		background: url(../images/bg-report.jpg) no-repeat center center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}

	#wrapper {
		&.is-report {
			background: none;
		}
	}
}

.report {

	&__header {
		background-color: #001936;
		padding: 20px 30px;
		
		&:after {
			display: block;
			clear: both;
			content: "";
		}
	}

	&__back {
		color: #597A96;
		font-size: 18px;
		font-family: $font-ultra-light;
		float: left;
		position: relative;
		line-height: 1;
		text-decoration: none !important;
		&:hover {
			color: #00E1BF;
		}
		span {
			display: inline-block;
			vertical-align: middle;
			padding: 2px 0 0 10px;
		}
		i {
			font-size: 2em;
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__list {
		float: right;
		font-size: 0;
		margin: 0;
		padding: 7px 0 0;
		li {
			display: inline-block;
			vertical-align: top;
			margin-right: 40px;

			a {
				color: #597A96;
				font-size: 18px;
				font-family: $font-ultra-light;
				text-decoration: none !important;
				&:hover, &.is-active {
					color: #00E1BF;
				}
			}
		}
	}

	&__icon {
		width: 141px;
		height: 122px;
		display: block;
		margin: 0 auto;
		background: url(../images/report-icon.png) no-repeat center center;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
	}

	&__submit {
		padding: 115px 15px;
		text-align: center;
		
		h2 {
			font-size: 47px;
			color: #F5F6F8;
			font-family: $font-ultra-light;
			margin-top: 10px;
		}

		p {
			color: #F5F6F8;
			font-size: 12px;
			max-width: 280px;
			margin: 0 auto 15px;
		}
	}

	&__share {
		font-size: 0;
		margin-bottom: 27px;
		a {
			display: inline-block;
			vertical-align: top;
			margin: 0 5px 10px;
		}
	}

	&__body {
		max-width: 660px;
		margin: 0 auto;
		padding: 40px 15px 60px;
		
		h2 {
			font-size: 50px;
			color: #F5F6F8;
			font-family: $font-ultra-light;
		}
		h4 {
			color: #F5F6F8;
			font-family: $font-neue-thin;
			margin-bottom: 40px;
		}
	}
}

.tile {
	background-color: #FFF;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	overflow: hidden;
	
	&__img {
		background: url(../images/tile-bg.jpg) no-repeat 50% 25%;
		padding: 20px;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}

	&__sticker {
		font-size: 0;
		
		p {
			font-size: 14px;
			color: #FFF;
			font-family: $font-ultra-light;
			margin: 0;
		}
		
		div {
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	&__rating {
		color: #FFF;
		font-size: 10px;
		font-family: $font-ultra-light;
		width: 34px;
		padding: 10px 0 9px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0 0;
		background: url(../images/tile-rating.png) no-repeat center center;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}

	small {
		color: #FFF;
		font-size: 10px;
		font-family: $font-neue-medium;
		display: block;
	}

	&__text {
		padding: 60px 0 0;
		
		h4 {
			font-size: 22px;
			color: #FFF;
			margin: 0 0 5px;
		}
	}

	&__info {
		font-size: 0;
		padding: 0 20px;		
		border-bottom: 1px solid #d9dfe6;

		div {
			display: inline-block;
			vertical-align: middle;			
			color: #001936;
			line-height: 1;
			padding: 12px 0;
			margin: 0 35px 0 0;
			
			i, span {
				display: inline-block;
				vertical-align: top;
			}

			span {
				font-size: 10px;
				padding: 2px 0 0;
				font-family: $font-neue-medium;
			}

			i {
				font-size: 13px;
				margin: 0 5px 0 0;
			}
		}
	}

	&__btns {
		&:after {
			display: block;
			clear: both;
			content: "";
		}
	}

	&__cancel {
		color: #495769;
		font-size: 14px;
		background-color: #E5E5E5;
		border: none;
		width: 50%;
		box-sizing: border-box;
		padding: 0 15px;
		line-height: 42px;
		text-align: center;
		float: left;
		outline: none;

		&:hover {
			background-color: #A0A3AA;
			color: #001936;
		}
		&:active {
			background-color: #001936;
			color: #FFF;
		}
	}

	&__submit {
		color: #FFF;
		font-size: 14px;
		background-color: #00E1BF;
		border: none;
		width: 50%;
		box-sizing: border-box;
		padding: 0 15px;
		line-height: 42px;
		text-align: center;
		float: left;
		outline: none;

		&:hover {
			background-color: #183E4C;
			color: #FFF;
		}
		&:active {
			background-color: #0C283F;
			color: #FFF;
		}
	}
}

.r-btn {
	font-family: $font-light;
	color: #FFF;
	font-size: 17px;
	background-color: #00E1BF;
	border: none;
	padding: 0 47px;
	outline: none;
	line-height: 31px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	&:hover {
		background-color: #183E4C;
	}
	&:active {
		background-color: #001936;
	}
}