<div class="modal-dialog delete-projects">
	<div class="modal-content">
		<div class="modal-header">
			<button ng-click="closeThisDialog(0)" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><span class="icon icon-close-2"></span></span></button>
			<h2 class="modal-title">Are you sure you want to clear your projcet</h2>
		</div>
		<div class="modal-body">
			<p>This action cannot be undone and will<br> immediately cleared from the system.</p>
		</div>
		<div class="modal-footer">
			<a href="" class="btn btn-default" data-dismiss="modal" ng-click="closeThisDialog(0)">Clear</a>
			<a href="" class="btn btn-default cancel" ng-click="closeThisDialog(0)">Cancel</a>
		</div>
	</div>
</div>